Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

docs: fix missing general translations in Q7 protocol files
  docs/protocols/Q7/Q7_Values_AR.md
  docs/protocols/Q7/Q7_Values_CS.md
  docs/protocols/Q7/Q7_Values_DA.md
  docs/protocols/Q7/Q7_Values_DE.md
  docs/protocols/Q7/Q7_Values_EN.md
  docs/protocols/Q7/Q7_Values_ES-LA.md
  docs/protocols/Q7/Q7_Values_ES.md
  docs/protocols/Q7/Q7_Values_FI.md
  docs/protocols/Q7/Q7_Values_FR.md
  docs/protocols/Q7/Q7_Values_HE.md
  docs/protocols/Q7/Q7_Values_HU.md
  docs/protocols/Q7/Q7_Values_ID.md
  docs/protocols/Q7/Q7_Values_IT.md
  docs/protocols/Q7/Q7_Values_JA.md
  docs/protocols/Q7/Q7_Values_KO.md
  docs/protocols/Q7/Q7_Values_MS.md
  docs/protocols/Q7/Q7_Values_NB.md
  docs/protocols/Q7/Q7_Values_NL.md
  docs/protocols/Q7/Q7_Values_PL.md
  docs/protocols/Q7/Q7_Values_PT.md
  docs/protocols/Q7/Q7_Values_RO.md
  docs/protocols/Q7/Q7_Values_RU.md
  docs/protocols/Q7/Q7_Values_SK.md
  docs/protocols/Q7/Q7_Values_SV.md
  docs/protocols/Q7/Q7_Values_TH.md
  docs/protocols/Q7/Q7_Values_TR.md
  docs/protocols/Q7/Q7_Values_UK.md
  docs/protocols/Q7/Q7_Values_VI.md
  docs/protocols/Q7/Q7_Values_ZH-HANT.md
  docs/protocols/Q7/Q7_Values_ZH.md
  scripts/generate_q7_dataset.js
Due: eslint --fix

chore: implement husky and lint-staged for automatic linting on commit
  package-lock.json
Due: node scripts/run-package-tests.js

chore: re-apply AI refinements post-rebase
  src/lib/AppPluginManager.ts
  src/main.ts
Due: eslint --fix

fix: force CI build, add shx dependency, and define main in io-package.json
  .github/workflows/test-and-release.yml
  io-package.json
  package-lock.json
  package.json
  src/lib/buildInfo.ts
  www/tsconfig.web.tsbuildinfo
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(b01): apply AI review suggestions (types, constants)
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

fix(b01): add Max+ fan power (127), prevent room selection reset, fix SC01 build
  build/lib/features/vacuum/b01VacuumFeatures.d.ts
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  build/lib/features/vacuum/sc01_features.d.ts
  build/lib/features/vacuum/sc01_features.js
  build/lib/features/vacuum/sc01_features.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/sc01_features.ts
Due: eslint --fix

fix(b01): correct Max+ value to 5, allow build dir in AI review
  scripts/ai-review-instructions.md
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

refactor(b01): reduce cognitive complexity and fix sonarjs issues
  build/lib/features/vacuum/b01VacuumFeatures.d.ts
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  build/lib/features/vacuum/sc01_features.js
  build/lib/features/vacuum/sc01_features.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

fix(b01): use direct service.reset_consumable command for consumables
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

feat(b01): implement confirmed commands from sniffer (app_start, child_lock, lights, etc.) and refactor structure
  build/lib/features/vacuum/b01VacuumFeatures.d.ts
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  build/lib/features/vacuum/vacuumConstants.js
  build/lib/features/vacuum/vacuumConstants.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
Due: eslint --fix

feat(b01): strict command implementation (find_me, app_pause, app_stop) and cleanup
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

fix(b01): restore update_map command found in logs
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

feat(b01): implement mode command (0:Vacuum, 1:Vac&Mop, 2:Mop)
  build/lib/features/vacuum/b01VacuumFeatures.js
  build/lib/features/vacuum/b01VacuumFeatures.js.map
  src/lib/features/vacuum/b01VacuumFeatures.ts
Due: eslint --fix

fix(admin): update Login label to E-Mail for German translation
  admin/i18n/de/translations.json
  admin/words.js
Due: eslint --fix, node scripts/run-package-tests.js

fix(admin): remove unused map_creation_interval setting
  admin/i18n/de/translations.json
  admin/jsonConfig.json
  admin/words.js
  io-package.json
Due: eslint --fix, node scripts/run-package-tests.js

fix: correct JSDoc for formatRoborockDate
  build/main.d.ts
  build/main.js
  build/main.js.map
  src/main.ts
Due: eslint --fix

Update buildInfo.ts
  src/lib/buildInfo.ts
Due: eslint --fix

fix(B01): correct map background scaling in MapBuilder
  src/lib/map/b01/MapBuilder.ts
Due: eslint --fix

build: fix package.json dependency for zod v4
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: resolve consumable reset timeout by using protocol-compliant state IDs and generic command handling
  src/lib/features/vacuum/services/V1ConsumableService.ts
  src/main.ts
  test/unit/services/V1ConsumableService.test.ts
Due: eslint --fix

test: align tests with new consumable reset state IDs
  src/lib/mock/features.test.ts
Due: eslint --fix

feat: add support for dock type 22 (Qrevo S5V)
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
Due: eslint --fix

build: add prepare script for git installs
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(build): make updateBuildInfo robust against missing .git folder
  scripts/updateBuildInfo.js
Due: eslint --fix

fix(#995): ignore unsolicited messages and update build scripts
  package.json
  src/lib/mqttApi.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: restore unsolicited b01 map handling
  src/lib/mqttApi.ts
Due: eslint --fix

feat: add robust support for Roborock Qrevo Curve (a159) - Dock Type 17, Attributes, Map Fixes
  src/lib/buildInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
  test/unit/v1_dock_features.test.ts
Due: eslint --fix

chore: remove dev comments from vacuumConstants
  src/lib/features/vacuum/vacuumConstants.ts
Due: eslint --fix

docs: add strict node 22 requirement to README
  README.md
Due: none

docs: add strict node 22 requirement to README (fixes #1017)
  README.md
Due: none

docs: add strict node 22 requirement to README (fixes #1017) (#1032)
  README.md
Due: none

feat: add support for roborock.vacuum.a170 (Qrevo S5V) #1020
  package.json
  src/lib/features/vacuum/a170_features.test.ts
  src/lib/features/vacuum/a170_features.ts
  src/lib/features/vacuum/index.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: add build:git and prepare scripts
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: add build:git and prepare scripts (#1033)
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js
