Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

docs: document dependency overrides
  README.md
  docs/DependencyOverrides.md
Due: none

build: make dependency overrides npm 10 compatible
  DEPENDENCY_OVERRIDES.md
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

[codex] fix local endpoint recovery after IP changes (#1270)
  DEPENDENCY_OVERRIDES.md
  README.md
  package-lock.json
  package.json
  src/lib/deviceManager.ts
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: release v0.7.1
  README.md
  io-package.json
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: restore Qrevo MaxV auto-empty command
  README.md
  src/lib/features/vacuum/a87_features.ts
  src/lib/features/vacuum/registeredModelFeatures.test.ts
Due: eslint --fix

chore: require debug log uploads for bug reports
  .github/ISSUE_TEMPLATE/bug_report.yaml
  README.md
Due: npx yaml-lint

fix: restore Qrevo MaxV auto-empty command (#1280)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  README.md
  src/lib/features/vacuum/a87_features.ts
  src/lib/features/vacuum/registeredModelFeatures.test.ts
Due: eslint --fix, npx yaml-lint

fix endpoint refresh throttle cleanup timing
  src/lib/localApi.ts
Due: eslint --fix

fix endpoint refresh retry after MQTT outage
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

update changelog entry for ioBroker format
  README.md
Due: none

[codex] fix endpoint refresh retry after MQTT outage (#1279)
  README.md
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

chore: release v0.7.2
  CHANGELOG_OLD.md
  README.md
  io-package.json
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: use verified V1 auto-empty command
  README.md
  src/lib/features/vacuum/registeredModelFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/main.ts
  test/unit/command_state_handling.test.ts
Due: eslint --fix

fix: use compatible type import syntax
  src/main.ts
Due: eslint --fix

chore: release v0.7.3
  CHANGELOG_OLD.md
  README.md
  io-package.json
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: restore HomeData consumable percentages
  src/lib/deviceManager.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

fix: restore HomeData consumable percentages (#1305)
  src/lib/deviceManager.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

Translated using Weblate (Spanish)
  admin/i18n/es/translations.json
Due: node scripts/run-package-tests.js

Fix repository checker issues
  .npmrc
  admin/i18n/de.json
  admin/i18n/de/translations.json
  admin/i18n/en.json
  admin/i18n/en/translations.json
  admin/i18n/es.json
  admin/i18n/es/translations.json
  admin/i18n/fr.json
  admin/i18n/fr/translations.json
  admin/i18n/it.json
  admin/i18n/it/translations.json
  admin/i18n/nl.json
  admin/i18n/nl/translations.json
  admin/i18n/pl.json
  admin/i18n/pl/translations.json
  admin/i18n/pt.json
  admin/i18n/pt/translations.json
  admin/i18n/ru.json
  admin/i18n/ru/translations.json
  admin/i18n/uk.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn.json
  admin/i18n/zh-cn/translations.json
  admin/jsonConfig.json
  eslint.config.mjs
  io-package.json
  package-lock.json
  package.json
  prettier.config.mjs
  src/lib/PhotoManager.ts
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/httpApi.ts
  src/lib/localApi.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/mock/MockAdapter.ts
  src/lib/requestsHandler.ts
  src/main.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Fix repository checker issues (#1306)
  .npmrc
  admin/i18n/de.json
  admin/i18n/de/translations.json
  admin/i18n/en.json
  admin/i18n/en/translations.json
  admin/i18n/es.json
  admin/i18n/es/translations.json
  admin/i18n/fr.json
  admin/i18n/fr/translations.json
  admin/i18n/it.json
  admin/i18n/it/translations.json
  admin/i18n/nl.json
  admin/i18n/nl/translations.json
  admin/i18n/pl.json
  admin/i18n/pl/translations.json
  admin/i18n/pt.json
  admin/i18n/pt/translations.json
  admin/i18n/ru.json
  admin/i18n/ru/translations.json
  admin/i18n/uk.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn.json
  admin/i18n/zh-cn/translations.json
  admin/jsonConfig.json
  eslint.config.mjs
  io-package.json
  package-lock.json
  package.json
  prettier.config.mjs
  src/lib/PhotoManager.ts
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/httpApi.ts
  src/lib/localApi.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/mock/MockAdapter.ts
  src/lib/requestsHandler.ts
  src/main.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Fix repository checker follow-ups
  README.md
  io-package.json
  src/main.ts
Due: eslint --fix, node scripts/run-package-tests.js

Move prerelease changelog entry to old changelog
  CHANGELOG_OLD.md
  README.md
Due: none

Enable macOS adapter tests
  .github/workflows/test-and-release.yml
  README.md
  package-lock.json
  package.json
Due: npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Fix repository checker issues (#1308)
  .github/workflows/test-and-release.yml
  CHANGELOG_OLD.md
  README.md
  io-package.json
  package-lock.json
  package.json
  src/main.ts
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Improve Dependabot automerge configuration
  .github/auto-merge.yml
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  CHANGELOG_OLD.md
  README.md
Due: npx yaml-lint

Improve Dependabot automerge configuration (#1309)
  .github/auto-merge.yml
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  CHANGELOG_OLD.md
  README.md
Due: npx yaml-lint

Restore old changelog history
  CHANGELOG_OLD.md
Due: none

Restore old changelog history (#1311)
  CHANGELOG_OLD.md
Due: none

Speed up CI workflow startup
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

Speed up CI workflow startup (#1312)
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

Avoid duplicate CI build checks
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

Avoid duplicate CI build checks (#1313)
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

Test CI without ioBroker temp cache
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

Reduce adapter CI checkout overhead
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

Update work in progress changelog
  README.md
Due: none

Document tested S8+ support
  README.md
Due: none

Prepare release news manually
  io-package.json
Due: node scripts/run-package-tests.js

chore: release v0.7.4
  README.md
  io-package.json
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: start multi-step scene programs reliably
  src/main.ts
  test/unit/command_state_handling.test.ts
Due: eslint --fix
