Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

feat(appplugin): prove Q7 room name limits
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/APPPLUGIN_RUNTIME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/lib/apkInteractionReplayManifest.ts
  scripts/prove_q7_appplugin_rename.ts
  src/apppluginHost/apkTextInputRuntime.ts
  test/fixtures/appplugin/q7-l5-room-rename-empty.json
  test/fixtures/appplugin/q7-l5-room-rename-max-length.json
  test/fixtures/appplugin/q7-l5-room-rename-success.json
  test/unit/appplugin_apk_interaction_replay_manifest.test.ts
  test/unit/appplugin_apk_text_input_runtime.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test(appplugin): complete Q7 rename validation
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/APPPLUGIN_RUNTIME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/prove_q7_appplugin_rename.ts
  test/fixtures/appplugin/q7-l5-room-rename-duplicate.json
  test/fixtures/appplugin/q7-l5-room-rename-predefined.json
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test(appplugin): prove Q7 rename failure recovery
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/prove_q7_appplugin_rename.ts
  test/fixtures/appplugin/q7-l5-room-rename-device-error-retry-success.json
  test/fixtures/appplugin/q7-l5-room-rename-device-error.json
  test/fixtures/appplugin/q7-l5-room-rename-device-timeout.json
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test(appplugin): prove Q7 full scene
  .gitattributes
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/generate_q7_full_scene_fixture.ts
  scripts/lib/q7FullSceneEvidence.ts
  scripts/lib/q7FullSceneFixture.ts
  scripts/prove_q7_appplugin_full_scene.ts
  test/fixtures/appplugin/q7-l5-full-scene-golden.json
  test/fixtures/appplugin/q7-l5-full-scene-golden.png
  test/fixtures/appplugin/q7-l5-full-scene-replay.json
  test/fixtures/appplugin/q7-l5-full-scene-synthetic.blob
  test/unit/appplugin_q7_full_scene_gate.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test(appplugin): prove Q7 room splitting
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  eslint.config.mjs
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/prove_q7_appplugin_split.ts
  src/apppluginHost/apkNativeUiSnapshotRenderer.ts
  src/apppluginHost/apkStatusBarRuntime.ts
  src/apppluginHost/apkYogaLayoutRuntime.ts
  src/apppluginHost/index.ts
  test/fixtures/appplugin/q7-l5-room-split-cancel.json
  test/fixtures/appplugin/q7-l5-room-split-device-error.json
  test/fixtures/appplugin/q7-l5-room-split-device-timeout.json
  test/fixtures/appplugin/q7-l5-room-split-invalid-line.json
  test/fixtures/appplugin/q7-l5-room-split-line-visible.json
  test/fixtures/appplugin/q7-l5-room-split-small-area.json
  test/fixtures/appplugin/q7-l5-room-split-success.json
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_apk_native_ui_snapshot_renderer.test.ts
  test/unit/appplugin_apk_yoga_layout_runtime.test.ts
  test/unit/appplugin_q7_split_gate.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test(appplugin): prove Q7 room merging
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/prove_q7_appplugin_merge.ts
  test/fixtures/appplugin/q7-l5-room-merge-cancel.json
  test/fixtures/appplugin/q7-l5-room-merge-device-error.json
  test/fixtures/appplugin/q7-l5-room-merge-device-timeout.json
  test/fixtures/appplugin/q7-l5-room-merge-multi-success.json
  test/fixtures/appplugin/q7-l5-room-merge-non-adjacent.json
  test/fixtures/appplugin/q7-l5-room-merge-selection.json
  test/fixtures/appplugin/q7-l5-room-merge-single-room.json
  test/fixtures/appplugin/q7-l5-room-merge-success.json
  test/unit/appplugin_q7_merge_gate.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): expose original UI test view
  scripts/appplugin_hermes_runtime_probe.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix

perf(appplugin): stabilize interactive desktop surface
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkNativeViewHierarchyRuntime.ts
  src/apppluginHost/apkUiManagerRuntime.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_native_view_hierarchy_runtime.test.ts
  test/unit/appplugin_apk_ui_manager_runtime.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

fix: map AppPlugin dock errors for S7 devices
  lib/protocols/roborock_error_codes.json
  package.json
  scripts/extract_appplugin_error_codes.js
  src/lib/features/vacuum/adapterErrorMapping.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  test/unit/dock_error_mapping.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(appplugin): correct desktop zoom gesture
  scripts/build_appplugin_desktop.js
  scripts/smoke_appplugin_desktop.js
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix

perf(appplugin): use real desktop map sessions
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkNativeUiSnapshotRenderer.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_native_ui_snapshot_renderer.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): synchronize APK locale sessions
  docs/APPPLUGIN_LOCALE_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkLocalizationRuntime.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_localization_runtime.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
  www/appplugin-lab.js.map
Due: eslint --fix, node scripts/run-package-tests.js

poc(appplugin): persist APK session state and verify RTL locales
  docs/APPPLUGIN_LOCALE_POC.md
  docs/APPPLUGIN_THEME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/capture_q7_appplugin_locale_goldens.ts
  scripts/lib/appPluginDesktopSessionState.ts
  scripts/smoke_appplugin_desktop.js
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkDarkModeRuntime.ts
  src/apppluginHost/apkI18nManagerRuntime.ts
  src/apppluginHost/apkLocalizationRuntime.ts
  src/apppluginHost/apkNativeUiSnapshotRenderer.ts
  src/apppluginHost/apkUiExecutionRuntime.ts
  src/apppluginHost/apkViewTransformRuntime.ts
  src/apppluginHost/apkYogaLayoutRuntime.ts
  src/lib/appplugin/CanvasKitSkiaHost.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/fixtures/appplugin/q7-l5-locale-ar-rtl-golden.png
  test/fixtures/appplugin/q7-l5-locale-es-la-regional-fallback-golden.png
  test/fixtures/appplugin/q7-l5-locale-goldens.json
  test/fixtures/appplugin/q7-l5-locale-system-fallback-golden.png
  test/unit/appplugin_apk_localization_runtime.test.ts
  test/unit/appplugin_apk_native_ui_snapshot_renderer.test.ts
  test/unit/appplugin_apk_view_transform_runtime.test.ts
  test/unit/appplugin_apk_yoga_layout_runtime.test.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_desktop_session_state.test.ts
  test/unit/appplugin_q7_locale_goldens.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): prove Q7 theme and actor scaling
  docs/APPPLUGIN_ACTOR_SCALING_POC.md
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_THEME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/capture_q7_appplugin_locale_goldens.ts
  scripts/capture_q7_appplugin_theme_goldens.ts
  scripts/lib/appPluginBrowserGolden.ts
  scripts/prove_q7_appplugin_actor_scaling.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/fixtures/appplugin/q7-l5-actor-scaling-golden.json
  test/fixtures/appplugin/q7-l5-actor-scaling-golden.png
  test/fixtures/appplugin/q7-l5-theme-goldens.json
  test/fixtures/appplugin/q7-l5-theme-home-dark-golden.png
  test/fixtures/appplugin/q7-l5-theme-home-light-golden.png
  test/fixtures/appplugin/q7-l5-theme-settings-dark-golden.png
  test/fixtures/appplugin/q7-l5-theme-settings-light-golden.png
  test/fixtures/appplugin/q7-l5-theme-settings-system-dark-golden.png
  test/fixtures/appplugin/q7-l5-theme-settings-system-light-golden.png
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_q7_theme_actor_goldens.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): prove Q7 M5 rendering contracts
  docs/APPPLUGIN_ACTOR_SCALING_POC.md
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_MAP_COMPATIBILITY.md
  docs/APPPLUGIN_RUNTIME_POC.md
  docs/APPPLUGIN_THEME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/capture_q7_appplugin_theme_goldens.ts
  scripts/lib/apkDeviceReplayManifest.ts
  scripts/lib/q7FullSceneEvidence.ts
  scripts/lib/q7FullSceneFixture.ts
  scripts/prove_q7_appplugin_actor_scaling.ts
  scripts/prove_q7_appplugin_full_scene.ts
  scripts/prove_q7_m5_contract.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/fixtures/appplugin/q7-l5-actor-scaling-golden.png
  test/fixtures/appplugin/q7-l5-full-scene-replay.json
  test/fixtures/appplugin/q7-m5-actor-scaling-golden.json
  test/fixtures/appplugin/q7-m5-full-scene-golden.json
  test/fixtures/appplugin/q7-m5-full-scene-golden.png
  test/fixtures/appplugin/q7-m5-theme-goldens.json
  test/fixtures/appplugin/q7-m5-theme-home-dark-golden.png
  test/fixtures/appplugin/q7-m5-theme-home-light-golden.png
  test/fixtures/appplugin/q7-m5-theme-settings-dark-golden.png
  test/fixtures/appplugin/q7-m5-theme-settings-light-golden.png
  test/fixtures/appplugin/q7-m5-theme-settings-system-dark-golden.png
  test/fixtures/appplugin/q7-m5-theme-settings-system-light-golden.png
  test/unit/appplugin_apk_device_replay_manifest.test.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_q7_full_scene_gate.test.ts
  test/unit/appplugin_q7_m5_contract_gate.test.ts
  test/unit/appplugin_q7_theme_actor_goldens.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): prove L5 and M5 room selection
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_MAP_COMPATIBILITY.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/APPPLUGIN_RUNTIME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/lib/q7FullSceneEvidence.ts
  scripts/lib/q7RoomSelectionEvidence.ts
  scripts/prove_q7_appplugin_room_selection.ts
  test/fixtures/appplugin/q7-l5-room-selection-deselected-golden.png
  test/fixtures/appplugin/q7-l5-room-selection-golden.json
  test/fixtures/appplugin/q7-l5-room-selection-multiple-golden.png
  test/fixtures/appplugin/q7-l5-room-selection-none-golden.png
  test/fixtures/appplugin/q7-l5-room-selection-one-golden.png
  test/fixtures/appplugin/q7-m5-room-selection-deselected-golden.png
  test/fixtures/appplugin/q7-m5-room-selection-golden.json
  test/fixtures/appplugin/q7-m5-room-selection-multiple-golden.png
  test/fixtures/appplugin/q7-m5-room-selection-none-golden.png
  test/fixtures/appplugin/q7-m5-room-selection-one-golden.png
  test/fixtures/appplugin/q7-room-selection-deselected.json
  test/fixtures/appplugin/q7-room-selection-multiple.json
  test/fixtures/appplugin/q7-room-selection-none.json
  test/fixtures/appplugin/q7-room-selection-one.json
  test/unit/appplugin_q7_room_selection_gate.test.ts
  test/unit/q7_room_selection_evidence.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): lock room boundary and mode cycle
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_RUNTIME_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/prove_q7_appplugin_room_selection.ts
  test/fixtures/appplugin/q7-l5-room-selection-boundary-golden.png
  test/fixtures/appplugin/q7-l5-room-selection-golden.json
  test/fixtures/appplugin/q7-l5-room-selection-mode-cycle-golden.png
  test/fixtures/appplugin/q7-m5-room-selection-boundary-golden.png
  test/fixtures/appplugin/q7-m5-room-selection-golden.json
  test/fixtures/appplugin/q7-m5-room-selection-mode-cycle-golden.png
  test/fixtures/appplugin/q7-room-selection-boundary.json
  test/fixtures/appplugin/q7-room-selection-mode-cycle.json
  test/unit/appplugin_q7_room_selection_gate.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat(appplugin): prove semantic room cleaning
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/prove_q7_appplugin_semantic_actions.ts
  src/apppluginHost/apkSemanticUiActions.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_semantic_ui_actions.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): prove M5 semantic room cleaning
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/prove_q7_appplugin_semantic_actions.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): prove M5 room splitting
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/prove_q7_appplugin_split.ts
  scripts/run_q7_appplugin_split_suite.ts
  test/unit/appplugin_q7_split_gate.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): prove M5 room merging
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/prove_q7_appplugin_merge.ts
  scripts/run_q7_appplugin_merge_suite.ts
  src/apppluginHost/apkNativeAnimatedRuntime.ts
  test/fixtures/appplugin/q7-l5-room-merge-cancel.json
  test/fixtures/appplugin/q7-l5-room-merge-device-error.json
  test/fixtures/appplugin/q7-l5-room-merge-device-timeout.json
  test/fixtures/appplugin/q7-l5-room-merge-multi-success.json
  test/fixtures/appplugin/q7-l5-room-merge-non-adjacent.json
  test/fixtures/appplugin/q7-l5-room-merge-selection.json
  test/fixtures/appplugin/q7-l5-room-merge-single-room.json
  test/fixtures/appplugin/q7-l5-room-merge-success.json
  test/unit/appplugin_apk_native_animated_runtime.test.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_q7_merge_gate.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

refactor(appplugin): consolidate web entry
  docs/APPPLUGIN_DESKTOP_POC.md
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/APPPLUGIN_MAP_LAB_POC.md
  package.json
  src/www/appplugin-lab.ts
  test/unit/appplugin_map_contract.test.ts
  www/appplugin-desktop.html
  www/appplugin-lab.html
  www/appplugin-lab.js
  www/appplugin-lab.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(appplugin): survive unavailable desktop runtime
  docs/APPPLUGIN_DESKTOP_POC.md
  src/www/appplugin-desktop.ts
  src/www/apppluginRuntime/runtime-selection.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_runtime_selection.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix

refactor: unify AppPlugin desktop server
  docs/APPPLUGIN_DESKTOP_POC.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/capture_q7_appplugin_locale_goldens.ts
  scripts/capture_q7_appplugin_theme_goldens.ts
  scripts/lib/appPluginDesktopClient.ts
  scripts/lib/appPluginDesktopProfiles.ts
  scripts/lib/appPluginDesktopStaticAssets.ts
  scripts/prove_q7_appplugin_actor_scaling.ts
  scripts/smoke_appplugin_desktop.js
  scripts/start_appplugin_desktop_runtime.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  src/www/apppluginRuntime/runtime-selection.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_desktop_profiles.test.ts
  test/unit/appplugin_runtime_selection.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
  www/appplugin-lab.html
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test: prove Q7 M5 rename and gesture parity
  docs/APPPLUGIN_MAP_BEHAVIOR_GATES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/lib/apkInteractionReplayManifest.ts
  scripts/prove_q7_appplugin_gestures.ts
  scripts/prove_q7_appplugin_rename.ts
  scripts/run_q7_appplugin_rename_suite.ts
  test/fixtures/appplugin/q7-l5-gesture-golden.json
  test/fixtures/appplugin/q7-l5-room-rename-device-error-retry-success.json
  test/fixtures/appplugin/q7-l5-room-rename-device-error.json
  test/fixtures/appplugin/q7-l5-room-rename-device-timeout.json
  test/fixtures/appplugin/q7-l5-room-rename-duplicate.json
  test/fixtures/appplugin/q7-l5-room-rename-empty.json
  test/fixtures/appplugin/q7-l5-room-rename-max-length.json
  test/fixtures/appplugin/q7-l5-room-rename-predefined.json
  test/fixtures/appplugin/q7-l5-room-rename-success.json
  test/fixtures/appplugin/q7-m5-gesture-golden.json
  test/unit/appplugin_apk_interaction_replay_manifest.test.ts
  test/unit/appplugin_q7_gesture_goldens.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat: add native AppPlugin scroll and responsive input
  docs/APPPLUGIN_DESKTOP_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkNativeUiSnapshotRenderer.ts
  src/apppluginHost/apkNativeViewHierarchyRuntime.ts
  src/apppluginHost/apkPointerInputBridge.ts
  src/apppluginHost/apkScrollViewRuntime.ts
  src/apppluginHost/apkUiExecutionRuntime.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_scroll_view_runtime.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

perf: render AppPlugin map drags locally
  docs/APPPLUGIN_DESKTOP_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

perf: compose native map drag in full AppPlugin view
  docs/APPPLUGIN_DESKTOP_POC.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

fix(appplugin): keep timer layout turns from stalling runtime
  docs/APPPLUGIN_DESKTOP_POC.md
  scripts/appplugin_hermes_runtime_probe.ts
  test/unit/appplugin_desktop.test.ts
Due: eslint --fix

fix(appplugin): mirror native map viewport
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkInteractiveSurfaceRoot.ts
  src/apppluginHost/apkNativeUiSnapshotRenderer.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_interactive_surface_root.test.ts
  test/unit/appplugin_apk_native_ui_snapshot_renderer.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix

fix(appplugin): preserve full plugin root
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkAsyncStorageRuntime.ts
  src/apppluginHost/apkPluginSdkEnvironmentRuntime.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_async_storage_runtime.test.ts
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_desktop.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

feat(appplugin): add generic device sessions
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/lib/appPluginDesktopFixtureSessions.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkAppPluginSessionDescriptor.ts
  src/apppluginHost/apkCoreRuntimeConstants.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_core_runtime_constants.test.ts
  test/unit/appplugin_apk_session_descriptor.test.ts
  test/unit/appplugin_desktop_fixture_sessions.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

feat(appplugin): catalog all local bundle UIs
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/lib/appPluginDesktopCatalog.ts
  scripts/lib/appPluginDesktopFixtureSessions.ts
  scripts/lib/appPluginDesktopLauncher.ts
  scripts/lib/appPluginDesktopProfiles.ts
  scripts/lib/appPluginHomeDataCatalog.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkPluginSdkPreferencesRuntime.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_desktop_catalog.test.ts
  test/unit/appplugin_desktop_profiles.test.ts
  test/unit/appplugin_home_data_catalog.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix

poc: align appplugin host with apk contract
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/prove_q7_appplugin_full_scene.ts
  scripts/prove_q7_appplugin_merge.ts
  scripts/prove_q7_appplugin_rename.ts
  scripts/prove_q7_appplugin_room_selection.ts
  scripts/prove_q7_appplugin_split.ts
  src/apppluginHost/apkAppPluginSessionDescriptor.ts
  src/apppluginHost/apkDevicesRuntime.ts
  src/apppluginHost/apkRuntimeReadiness.ts
  src/apppluginHost/index.ts
  src/www/appplugin-desktop.ts
  src/www/apppluginLab/live-appplugin-map-surface.ts
  test/unit/appplugin_apk_devices_runtime.test.ts
  test/unit/appplugin_apk_runtime_readiness.test.ts
  test/unit/appplugin_apk_session_descriptor.test.ts
  www/appplugin-desktop.html
  www/appplugin-desktop.js
  www/appplugin-desktop.js.map
Due: eslint --fix, node scripts/run-package-tests.js

poc: secure apk device session bootstrap
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/lib/appPluginDesktopFixtureSessions.ts
  scripts/lib/appPluginSessionDescriptorTransport.ts
  scripts/start_appplugin_desktop_runtime.ts
  src/apppluginHost/apkAppPluginSessionDescriptor.ts
  src/apppluginHost/apkDevicesRuntime.ts
  src/apppluginHost/apkHomeDataContext.ts
  src/apppluginHost/apkPluginInstallationStore.ts
  src/apppluginHost/index.ts
  src/lib/httpApi.ts
  test/unit/appplugin_apk_devices_runtime.test.ts
  test/unit/appplugin_apk_home_data_context.test.ts
  test/unit/appplugin_apk_plugin_installation_store.test.ts
  test/unit/appplugin_apk_session_descriptor.test.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_desktop_fixture_sessions.test.ts
  test/unit/appplugin_session_descriptor_transport.test.ts
  test/unit/documentation_generation.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: derive device sessions from apk home data
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/lib/appPluginDesktopCatalog.ts
  src/apppluginHost/apkHomeDataContext.ts
  src/apppluginHost/apkRriotSessionDescriptor.ts
  src/apppluginHost/index.ts
  src/lib/httpApi.ts
  test/unit/appplugin_apk_home_data_context.test.ts
  test/unit/appplugin_apk_rriot_session_descriptor.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: accept device sessions over supervisor pipe
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/lib/appPluginDesktopLauncher.ts
  scripts/start_appplugin_desktop_runtime.ts
  test/unit/appplugin_desktop.test.ts
  test/unit/appplugin_desktop_launcher.test.ts
Due: eslint --fix, node scripts/run-package-tests.js
