Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/run-package-tests.js

chore: enforce strict file nesting in ai review output
  scripts/ai-review-instructions.md
Due: none

chore: silence ai output for passing files (no unnecessary code blocks)
  scripts/ai-review-instructions.md
Due: none

refactor: extract floor switch logic to flatten nested control flow
  src/main.ts
Due: eslint --fix

fix: rename private method to handleFloorSwitch (no underscore)
  src/main.ts
Due: eslint --fix

chore: update vscode settings and build artifacts
  .vscode/settings.json
  build/main.d.ts
  build/main.js
  build/main.js.map
Due: eslint --fix, node scripts/run-package-tests.js

Update package.json
  package.json
Due: node scripts/run-package-tests.js

Update buildInfo.ts
  src/lib/buildInfo.ts
Due: eslint --fix

Update package-lock.json
  package-lock.json
Due: node scripts/run-package-tests.js

Update buildInfo.js.map
  build/lib/buildInfo.js.map
Due: none

Update buildInfo.js
  build/lib/buildInfo.js
Due: eslint --fix

chore: restore husky hooks (v9 compliant)
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: node scripts/run-package-tests.js

Delete pre-commit
  .husky/pre-commit
Due: none

Update pre-push
  .husky/pre-push
Due: none

Create pre-commit
  .husky/pre-commit
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

chore: strict ai review instructions
  scripts/ai-review-instructions.md
Due: none

feat: improve ai review to analyze full push range
  scripts/ai-review-diff.js
Due: eslint --fix

Create husky-verify.js
  scripts/husky-verify.js
Due: eslint --fix

chore: setup robust windows-compatible automation tooling (husky, lint-staged, ai-review)
  .husky/pre-commit
  .husky/pre-push
  build/lib/buildInfo.js
  build/lib/buildInfo.js.map
  package.json
  scripts/ai-review-diff.js
  scripts/ai-review-instructions.md
  scripts/husky-verify.js
  src/lib/buildInfo.ts
Due: eslint --fix, node scripts/run-package-tests.js

chore: remove temporary verification script
  verify_b01_crypto.ts
Due: eslint --fix

test: add unit tests for B01 protocol
  src/lib/messageParser_B01.test.ts
Due: eslint --fix

feat: Implement V3 Device Discovery for newer models (Q7/Q10/S8)
  src/lib/messageParser_B01.test.ts
  src/lib/mqttApi.ts
  verify_b01_crypto.ts
Due: eslint --fix

chore: remove temporary validation script
  verify_b01_crypto.ts
Due: eslint --fix

fix: remove unused catch variables in localApi.ts to resolve lint errors
  src/lib/localApi.ts
Due: eslint --fix

feat: implement B01 cloud support, register sc01 model, and fix AppPlugin error
  src/lib/cryptoEngine.ts
  src/lib/features/vacuum/sc01_features.ts
  src/lib/localApi.ts
  src/lib/messageParser_B01.test.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/lib/roborock_package_helper.ts
Due: eslint --fix

Fix: Invalid JSON syntax in jsonConfig.json
  admin/jsonConfig.json
Due: node scripts/run-package-tests.js

fix(test): resolve all unit test failures and refine mocks
  package-lock.json
  www/tsconfig.web.tsbuildinfo
Due: node scripts/run-package-tests.js

chore: include build artifacts and documentation updates
  docs/protocols/B01.md
  docs/protocols/Q7/Q7_Values_AR.md
  docs/protocols/Q7/Q7_Values_CS.md
  docs/protocols/Q7/Q7_Values_DA.md
  docs/protocols/Q7/Q7_Values_DE.md
  docs/protocols/Q7/Q7_Values_EN.md
  docs/protocols/Q7/Q7_Values_ES-LA.md
  docs/protocols/Q7/Q7_Values_ES.md
  docs/protocols/Q7/Q7_Values_FI.md
  docs/protocols/Q7/Q7_Values_FR.md
  docs/protocols/Q7/Q7_Values_HE.md
  docs/protocols/Q7/Q7_Values_HU.md
  docs/protocols/Q7/Q7_Values_ID.md
  docs/protocols/Q7/Q7_Values_IT.md
  docs/protocols/Q7/Q7_Values_JA.md
  docs/protocols/Q7/Q7_Values_KO.md
  docs/protocols/Q7/Q7_Values_MS.md
  docs/protocols/Q7/Q7_Values_NB.md
  docs/protocols/Q7/Q7_Values_NL.md
  docs/protocols/Q7/Q7_Values_PL.md
  docs/protocols/Q7/Q7_Values_PT.md
  docs/protocols/Q7/Q7_Values_RO.md
  docs/protocols/Q7/Q7_Values_RU.md
  docs/protocols/Q7/Q7_Values_SK.md
  docs/protocols/Q7/Q7_Values_SV.md
  docs/protocols/Q7/Q7_Values_TH.md
  docs/protocols/Q7/Q7_Values_TR.md
  docs/protocols/Q7/Q7_Values_UK.md
  docs/protocols/Q7/Q7_Values_VI.md
  docs/protocols/Q7/Q7_Values_ZH-HANT.md
  docs/protocols/Q7/Q7_Values_ZH.md
  docs/protocols/Q7/README.md
  docs/protocols/README.md
  scripts/generate_q7_dataset.js
Due: eslint --fix

docs: beautify protocol documentation and clean up mqttApi comments
  docs/protocols/B01.md
  docs/protocols/Q7/Q7_Values_AR.md
  docs/protocols/Q7/Q7_Values_CS.md
  docs/protocols/Q7/Q7_Values_DA.md
  docs/protocols/Q7/Q7_Values_DE.md
  docs/protocols/Q7/Q7_Values_EN.md
  docs/protocols/Q7/Q7_Values_ES-LA.md
  docs/protocols/Q7/Q7_Values_ES.md
  docs/protocols/Q7/Q7_Values_FI.md
  docs/protocols/Q7/Q7_Values_FR.md
  docs/protocols/Q7/Q7_Values_HE.md
  docs/protocols/Q7/Q7_Values_HU.md
  docs/protocols/Q7/Q7_Values_ID.md
  docs/protocols/Q7/Q7_Values_IT.md
  docs/protocols/Q7/Q7_Values_JA.md
  docs/protocols/Q7/Q7_Values_KO.md
  docs/protocols/Q7/Q7_Values_MS.md
  docs/protocols/Q7/Q7_Values_NB.md
  docs/protocols/Q7/Q7_Values_NL.md
  docs/protocols/Q7/Q7_Values_PL.md
  docs/protocols/Q7/Q7_Values_PT.md
  docs/protocols/Q7/Q7_Values_RO.md
  docs/protocols/Q7/Q7_Values_RU.md
  docs/protocols/Q7/Q7_Values_SK.md
  docs/protocols/Q7/Q7_Values_SV.md
  docs/protocols/Q7/Q7_Values_TH.md
  docs/protocols/Q7/Q7_Values_TR.md
  docs/protocols/Q7/Q7_Values_UK.md
  docs/protocols/Q7/Q7_Values_VI.md
  docs/protocols/Q7/Q7_Values_ZH-HANT.md
  docs/protocols/Q7/Q7_Values_ZH.md
  docs/protocols/Q7/README.md
  docs/protocols/README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx yaml-lint: any of: *.{yml,yaml}
  node scripts/run-package-tests.js: any of: **/*.json
