Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

poc: verify and activate apk plugin packages
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkPluginPackageInstaller.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_plugin_package_installer.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: acquire and persist apk plugin packages
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkPluginAcquisition.ts
  src/apppluginHost/apkPluginInstallationPersistence.ts
  src/apppluginHost/apkPluginInstallationStore.ts
  src/apppluginHost/apkPluginPackageInstaller.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_plugin_acquisition.test.ts
  test/unit/appplugin_apk_plugin_installation_store.test.ts
  test/unit/appplugin_apk_plugin_package_installer.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: bind apk packages to adapter lifecycle
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkPluginPackageRuntime.ts
  src/apppluginHost/index.ts
  src/main.ts
  test/unit/appplugin_apk_plugin_package_runtime.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: resolve apk plugin entry per device
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkHomeDataLookup.ts
  src/apppluginHost/apkMainPluginEntry.ts
  src/apppluginHost/apkPluginPackageRuntime.ts
  src/apppluginHost/apkRriotSessionDescriptor.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_main_plugin_entry.test.ts
  test/unit/appplugin_apk_plugin_package_runtime.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: expose confirmed appplugin package management
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkPluginPackageInstaller.ts
  src/apppluginHost/apkPluginPackageRuntime.ts
  src/lib/socketHandler.ts
  test/unit/appplugin_apk_plugin_package_runtime.test.ts
  test/unit/appplugin_package_message_handling.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

poc: model apk appplugin session lifecycle
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginSessionSupervisor.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_session_supervisor.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: complete APK plugin HTTP host contract
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkPluginHttpRuntime.ts
  test/unit/appplugin_apk_plugin_http_runtime.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: add bounded AppPlugin host service bridge
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkHostServiceAdapterHandlers.ts
  src/apppluginHost/apkHostServiceProtocol.ts
  src/apppluginHost/apkHostServiceRuntimePorts.ts
  src/apppluginHost/apkPluginHttpRuntime.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_host_service_adapter_handlers.test.ts
  test/unit/appplugin_apk_host_service_protocol.test.ts
  test/unit/appplugin_apk_host_service_runtime_ports.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: mirror APK product role repository
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkAppPluginSessionDescriptor.ts
  src/apppluginHost/apkHostServiceAdapterHandlers.ts
  src/apppluginHost/apkHostServiceProtocol.ts
  src/apppluginHost/apkHostServiceRuntimePorts.ts
  src/apppluginHost/apkPluginSdkEnvironmentRuntime.ts
  src/apppluginHost/apkProductRoleCatalog.ts
  src/apppluginHost/apkRriotSessionDescriptor.ts
  src/apppluginHost/index.ts
  src/lib/httpApi.ts
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_apk_host_service_adapter_handlers.test.ts
  test/unit/appplugin_apk_host_service_protocol.test.ts
  test/unit/appplugin_apk_host_service_runtime_ports.test.ts
  test/unit/appplugin_apk_product_role_catalog.test.ts
  test/unit/appplugin_apk_rriot_session_descriptor.test.ts
  test/unit/appplugin_apk_session_descriptor.test.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

feat: bind APK HTTP repositories to authenticated clients
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  src/apppluginHost/apkAxiosRestfulHttpService.ts
  src/apppluginHost/apkHostServiceAdapterHandlers.ts
  src/apppluginHost/index.ts
  src/lib/httpApi.ts
  test/unit/appplugin_apk_axios_restful_http_service.test.ts
  test/unit/appplugin_apk_host_service_adapter_handlers.test.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

feat: support APK multi-root Hermes lifecycle
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkBridgeBootstrap.ts
  src/apppluginHost/apkHermesHostProtocol.ts
  src/apppluginHost/apkHermesHostSession.ts
  test/unit/appplugin_apk_bridge_bootstrap.test.ts
  test/unit/appplugin_apk_hermes_host_protocol.test.ts
  test/unit/appplugin_apk_hermes_host_session.test.ts
  tools/hermes-appplugin-host/src/main.cpp
Due: eslint --fix, node scripts/run-package-tests.js

feat: share APK UIManager across React roots
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkUiExecutionRuntime.ts
  src/apppluginHost/apkUiManagerRuntime.ts
  test/unit/appplugin_apk_ui_execution_runtime.test.ts
  test/unit/appplugin_apk_ui_manager_runtime.test.ts
  test/unit/appplugin_desktop.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: couple AppPlugin roots to model runtime
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginModelRuntime.ts
  src/apppluginHost/apkAppPluginSessionSupervisor.ts
  src/apppluginHost/apkUiManagerRuntime.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_hermes_host_session.test.ts
  test/unit/appplugin_apk_model_runtime.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

refactor: centralize AppPlugin native runtime composition
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkAppPluginNativeRuntimeComposition.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_native_runtime_composition.test.ts
  test/unit/documentation_generation.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: add authenticated AppPlugin account boundary
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginAuthenticatedAccountRuntime.ts
  src/apppluginHost/index.ts
  src/lib/httpApi.ts
  src/main.ts
  test/unit/appplugin_apk_authenticated_account_runtime.test.ts
  tools/hermes-appplugin-host/bridge_bootstrap.js
Due: eslint --fix, node scripts/run-package-tests.js

fix: isolate AppPlugin model runtimes by device context
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginModelRuntime.ts
  src/apppluginHost/apkAppPluginSessionSupervisor.ts
  test/unit/appplugin_apk_model_runtime.test.ts
  test/unit/appplugin_apk_session_supervisor.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: compose AppPlugin device sessions from installed packages
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/lib/appPluginDesktopCatalog.ts
  src/apppluginHost/apkAppPluginAuthenticatedAccountRuntime.ts
  src/apppluginHost/apkAppPluginDeviceSessionRuntime.ts
  src/apppluginHost/apkAppPluginSessionDescriptor.ts
  src/apppluginHost/apkPluginPackageRuntime.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_device_session_runtime.test.ts
  test/unit/appplugin_apk_plugin_package_runtime.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: secure packaged Hermes host boundary
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/build_hermes_appplugin_host.js
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkHermesHostArtifact.ts
  src/apppluginHost/generated/hermes-host-artifact-contract.json
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_device_model_runtime_factory.test.ts
  test/unit/appplugin_apk_hermes_host_artifact.test.ts
  tools/hermes-appplugin-host/CMakeLists.txt
  tools/hermes-appplugin-host/README.md
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat: add native Hermes host build matrix
  .github/workflows/appplugin-hermes-host.yml
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/build_hermes_appplugin_host.js
  scripts/verify_hermes_host_matrix.js
  src/apppluginHost/apkHermesHostArtifact.ts
  src/apppluginHost/generated/hermes-host-artifact-contract.json
  test/unit/appplugin_hermes_host_matrix.test.ts
  tools/hermes-appplugin-host/CMakeLists.txt
  tools/hermes-appplugin-host/README.md
  tools/hermes-appplugin-host/smoke_bundle.js
  tools/hermes-appplugin-host/src/main.cpp
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

refactor: share APK native module composition
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/appplugin_hermes_runtime_probe.ts
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkAppPluginSharedNativeModules.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_device_model_runtime_factory.test.ts
  test/unit/appplugin_apk_shared_native_modules.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: compose productive appplugin device runtime
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkAppPluginDeviceNativeRuntimeEnvironment.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_device_model_runtime_factory.test.ts
  test/unit/appplugin_apk_device_native_runtime_environment.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: manage appplugin adapter runtime lifecycle
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginAdapterRuntimeService.ts
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkAppPluginDeviceRuntimeHostProvider.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_adapter_runtime_service.test.ts
  test/unit/appplugin_apk_device_model_runtime_factory.test.ts
  test/unit/appplugin_apk_device_runtime_host_provider.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: build appplugin adapter host leases
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginAdapterHostLeaseFactory.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_adapter_host_lease_factory.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat: preserve appplugin device repository routes
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkDeviceRepositoryTransport.ts
  src/apppluginHost/index.ts
  test/unit/appplugin_apk_device_repository_transport.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat-appplugin-read-only-device-transport
  src/apppluginHost/apkAppPluginAdapterHostLeaseFactory.ts
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkAppPluginDeviceNativeRuntimeEnvironment.ts
  src/apppluginHost/apkAppPluginDeviceRuntimeHostProvider.ts
  src/apppluginHost/apkDeviceIngress.ts
  src/apppluginHost/apkDeviceIngressRouter.ts
  src/apppluginHost/apkReadOnlyDeviceRepository.ts
  src/apppluginHost/index.ts
  src/lib/appplugin/IoBrokerAppPluginDeviceWire.ts
  src/lib/localApi.ts
  src/lib/mqttApi.ts
  src/main.ts
  test/unit/appplugin_apk_adapter_host_lease_factory.test.ts
  test/unit/appplugin_apk_device_ingress.test.ts
  test/unit/appplugin_apk_device_ingress_router.test.ts
  test/unit/appplugin_apk_device_model_runtime_factory.test.ts
  test/unit/appplugin_apk_device_native_runtime_environment.test.ts
  test/unit/appplugin_apk_read_only_device_repository.test.ts
  test/unit/appplugin_iobroker_device_wire.test.ts
  test/unit/appplugin_mqtt_ingress_dispatch.test.ts
Due: eslint --fix

feat-appplugin-add-read-only-device-host
  src/lib/appplugin/IoBrokerReadOnlyAppPluginDeviceHost.ts
  test/unit/appplugin_iobroker_read_only_device_host.test.ts
Due: eslint --fix

fix-appplugin-separate-home-and-package-products
  src/apppluginHost/apkAppPluginAuthenticatedAccountRuntime.ts
  src/apppluginHost/apkHomeDataContext.ts
  src/apppluginHost/apkMainPluginEntry.ts
  src/lib/httpApi.ts
  src/lib/socketHandler.ts
  test/unit/appplugin_apk_authenticated_account_runtime.test.ts
  test/unit/appplugin_apk_home_data_context.test.ts
  test/unit/appplugin_apk_main_plugin_entry.test.ts
  test/unit/appplugin_package_message_handling.test.ts
Due: eslint --fix

fix-appplugin-use-installed-package-metadata
  src/apppluginHost/apkAppPluginDeviceSessionRuntime.ts
  test/unit/appplugin_apk_adapter_runtime_service.test.ts
  test/unit/appplugin_apk_device_session_runtime.test.ts
Due: eslint --fix

fix-appplugin-map-cloud-timezone-id
  src/apppluginHost/apkRriotSessionDescriptor.ts
  test/unit/appplugin_apk_rriot_session_descriptor.test.ts
Due: eslint --fix

feat-appplugin-complete-agreement-bootstrap
  src/apppluginHost/apkAppPluginDeviceNativeRuntimeEnvironment.ts
  src/apppluginHost/apkPluginSdkEnvironmentRuntime.ts
  src/apppluginHost/apkReadOnlyDeviceRepository.ts
  src/apppluginHost/apkReadOnlyProbeRuntime.ts
  src/apppluginHost/apkV8WorkerRuntime.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginDeviceHost.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginProbe.ts
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_apk_read_only_device_repository.test.ts
  test/unit/appplugin_apk_v8_worker_runtime.test.ts
Due: eslint --fix

feat(appplugin): prove live status read
  src/apppluginHost/apkAppPluginAuthenticatedAccountRuntime.ts
  src/apppluginHost/apkAppPluginDeviceNativeRuntimeEnvironment.ts
  src/apppluginHost/apkAppPluginSessionDescriptor.ts
  src/apppluginHost/apkDeviceIngress.ts
  src/apppluginHost/apkPluginSdkEnvironmentRuntime.ts
  src/apppluginHost/apkProductAgreementCatalog.ts
  src/apppluginHost/apkReadOnlyProbeRuntime.ts
  src/apppluginHost/apkRpcRequestBroker.ts
  src/apppluginHost/apkTimingRuntime.ts
  src/apppluginHost/index.ts
  src/lib/apiTypes.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginDeviceHost.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginProbe.ts
  src/lib/httpApi.ts
  src/main.ts
  test/unit/appplugin_apk_adapter_host_lease_factory.test.ts
  test/unit/appplugin_apk_adapter_runtime_service.test.ts
  test/unit/appplugin_apk_authenticated_account_runtime.test.ts
  test/unit/appplugin_apk_device_ingress.test.ts
  test/unit/appplugin_apk_device_native_runtime_environment.test.ts
  test/unit/appplugin_apk_device_session_runtime.test.ts
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_apk_read_only_probe_runtime.test.ts
  test/unit/appplugin_apk_rpc_request_broker.test.ts
  test/unit/appplugin_apk_rriot_session_descriptor.test.ts
  test/unit/appplugin_apk_session_descriptor.test.ts
  test/unit/appplugin_apk_timing_runtime.test.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

test(appplugin): record live multi-device status proof
  docs/APPPLUGIN_LIVE_READ_PROOF.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  test/unit/appplugin_iobroker_read_only_device_host.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat(appplugin): add persistent read-only service
  docs/APPPLUGIN_LIVE_READ_PROOF.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/apppluginHost/apkAppPluginAdapterRuntimeService.ts
  src/apppluginHost/apkAppPluginDeviceSessionRuntime.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginDeviceHost.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginProbe.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginRuntime.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginService.ts
  src/lib/socketHandler.ts
  src/main.ts
  test/unit/appplugin_apk_adapter_runtime_service.test.ts
  test/unit/appplugin_apk_device_session_runtime.test.ts
  test/unit/appplugin_iobroker_read_only_service.test.ts
  test/unit/appplugin_package_message_handling.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix(appplugin):serialize-package-and-session-lifecycle
  docs/APPPLUGIN_LIVE_READ_PROOF.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  src/lib/appplugin/IoBrokerAppPluginLifecycleCoordinator.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginService.ts
  src/lib/socketHandler.ts
  src/main.ts
  test/unit/appplugin_iobroker_lifecycle_coordinator.test.ts
  test/unit/appplugin_iobroker_read_only_service.test.ts
  test/unit/appplugin_package_message_handling.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat(appplugin): publish runtime operating policy
  docs/APPPLUGIN_RUNTIME_OPERATING_POLICY.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  docs/generated/appplugin-map-inventory.json
  scripts/lib/appplugin_map_inventory.js
  src/apppluginHost/apkHermesHostSession.ts
  src/apppluginHost/apkHostServiceProtocol.ts
  src/apppluginHost/apkPluginAcquisition.ts
  src/apppluginHost/apkPluginPackageInstaller.ts
  src/lib/appplugin/IoBrokerAppPluginOperatingPolicy.ts
  src/lib/appplugin/IoBrokerReadOnlyAppPluginService.ts
  src/main.ts
  test/unit/appplugin_iobroker_operating_policy.test.ts
  test/unit/appplugin_iobroker_read_only_service.test.ts
  test/unit/appplugin_map_inventory.test.ts
  test/unit/appplugin_package_message_handling.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat(appplugin): measure runtime process tree
  docs/APPPLUGIN_RUNTIME_OPERATING_POLICY.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  docs/generated/appplugin-resource-baseline.win32-x64.json
  package.json
  scripts/appplugin_hermes_runtime_probe.ts
  scripts/benchmark_appplugin_resources.ts
  src/lib/appplugin/IoBrokerAppPluginProcessTreeResources.ts
  test/unit/appplugin_process_tree_resources.test.ts
  test/unit/appplugin_resource_baseline.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat(appplugin): stabilize runtime resource baseline
  docs/APPPLUGIN_RUNTIME_OPERATING_POLICY.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  docs/generated/appplugin-resource-baseline.win32-x64.json
  scripts/benchmark_appplugin_resources.ts
  src/lib/appplugin/IoBrokerAppPluginProcessTreeResources.ts
  test/unit/appplugin_process_tree_resources.test.ts
  test/unit/appplugin_resource_baseline.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

feat-appplugin-prove-Q10-productive-host-path
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  package.json
  scripts/lib/appPluginProductHostProof.ts
  scripts/prove_q10_product_host.ts
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkAppPluginDeviceNativeRuntimeEnvironment.ts
  src/apppluginHost/apkPluginSdkEnvironmentRuntime.ts
  test/unit/appplugin_apk_device_model_runtime_factory.test.ts
  test/unit/appplugin_apk_environment_runtimes.test.ts
  test/unit/appplugin_q10_product_host.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js
