Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

chore: add mergeability checks for prs
  .github/workflows/test-and-release.yml
  .gitignore
  package.json
  scripts/.githooks/pre-push
  scripts/check-mergeability.js
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: keep pre-commit hook local
  .gitignore
  src/lib/commitInfo.ts
Due: eslint --fix

fix: stabilize pr test suite
  .github/workflows/test-and-release.yml
  package.json
  scripts/.githooks/pre-push
  scripts/check-mergeability.js
  src/lib/commitInfo.ts
  src/lib/features/deviceStateWriter.ts
  src/lib/map/q10/Q10MapBuilder.ts
  test/unit/device_info_online_state.test.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Make appplugin extractor tests CI-safe
  src/lib/commitInfo.ts
  test/unit/appplugin_translation_extractor.test.ts
Due: eslint --fix

Make Hermes prepare test deterministic
  src/lib/commitInfo.ts
  test/unit/appplugin_bundle_preparer.test.ts
Due: eslint --fix

Fix local TCP transport message ids
  src/lib/localApi.test.ts
  src/lib/localApi.ts
  src/lib/messageParser.test.ts
  src/lib/messageParser.ts
  src/lib/mock/queue.test.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

Fix V1 cleaning info array handling
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/mock/typeCheck.test.ts
Due: eslint --fix

Match app TCP socket random values
  src/lib/localApi.ts
  src/lib/messageParser.ts
Due: eslint --fix

Match app TCP keepalive activity checks
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

Fix local TCP DPS key
  src/lib/messageParser.test.ts
  src/lib/messageParser.ts
Due: eslint --fix

Match app TCP control frames
  src/lib/localApi.test.ts
  src/lib/localApi.ts
  src/main.ts
Due: eslint --fix

Add TCP frame diagnostics
  src/lib/localApi.ts
  src/lib/mock/queue.test.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

Fix local TCP session handshake
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

Harden TCP frame handling
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

Fix TCP keepalive ping timeout timing
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

Match app keepalive timeout semantics
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

Prevent poll storms on connection loss
  src/lib/deviceManager.ts
  src/lib/errorUtils.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/localApi.ts
Due: eslint --fix

Fail pending TCP requests on session reset
  src/lib/localApi.test.ts
  src/lib/localApi.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

Improve TCP keepalive timeout diagnostics
  src/lib/localApi.ts
Due: eslint --fix

Fix TCP diagnostics unit tests
  src/lib/mock/errorHandling.test.ts
  src/lib/mock/queue.test.ts
Due: eslint --fix

Improve TCP keepalive timeout diagnostics (#1241)
  src/lib/localApi.ts
  src/lib/mock/errorHandling.test.ts
  src/lib/mock/queue.test.ts
Due: eslint --fix

Fix V1 cleaningInfo JSON updates
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/mock/typeCheck.test.ts
Due: eslint --fix

1178 bug mapbase64 und mapbase64truncated enthalten empty image (#1247)
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/mock/typeCheck.test.ts
Due: eslint --fix

chore: combine dependency updates
  package-lock.json
  package.json
  tsconfig.json
  www/app.js
  www/app.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: combine dependency updates (#1250)
  package-lock.json
  package.json
  tsconfig.json
  www/app.js
  www/app.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: release v0.7.0
  README.md
  io-package.json
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: preserve clean repeat for segment cleaning
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

fix: preserve clean repeat for segment cleaning (#1254)
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

fix local endpoint recovery after IP changes
  README.md
  src/lib/deviceManager.ts
  src/lib/localApi.test.ts
  src/lib/localApi.ts
Due: eslint --fix

docs: update changelog for dependency bumps
  README.md
Due: none

build: resolve npm audit advisories
  README.md
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js
