Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/run-package-tests.js

chore: clean up AI review script and confirm Gemini 3.0
  scripts/ai-review-diff.js
Due: eslint --fix

feat: enhance AI review reporting and add lockfile sync guardrail
  .lintstagedrc.json
  build/tsconfig.tsbuildinfo
  package-lock.json
  scripts/ai-review-diff.js
  scripts/check-lockfile.js
Due: eslint --fix, node scripts/run-package-tests.js

feat: complete modular Supreme Architect AI review system with pre-commit integration
  .gitignore
  .husky/pre-commit
  scripts/ai-review-diff.js
  scripts/ai-review-instructions.md
Due: eslint --fix

feat: synchronize missing AI architectural assets and hooks
  .husky/pre-commit
  build/tsconfig.tsbuildinfo
Due: none

chore: refine AI review and fix lints
  build/tsconfig.tsbuildinfo
  dev-server.js
  scripts/ai-review-instructions.md
  src/lib/features/vacuum/baseVacuumFeatures.ts
Due: eslint --fix

chore: refine AI review and fix lints
  build/lib/features/vacuum/baseVacuumFeatures.d.ts
  build/lib/features/vacuum/baseVacuumFeatures.js
  build/lib/features/vacuum/baseVacuumFeatures.js.map
  build/tsconfig.tsbuildinfo
Due: eslint --fix

fix(core): restore BaseDeviceFeatures, resolve race condition, and refine AI review
  scripts/ai-review-diff.js
  scripts/ai-review-instructions.md
  src/lib/features/baseDeviceFeatures.ts
Due: eslint --fix

chore: update build artifacts and ensure all files are committed
  build/lib/features/baseDeviceFeatures.d.ts
  build/lib/features/baseDeviceFeatures.js
  build/lib/features/baseDeviceFeatures.js.map
  build/tsconfig.tsbuildinfo
Due: eslint --fix

docs: add .ai-agent-rules.md for persistent agent context
  .ai-agent-rules.md
Due: none

docs: add reference to .ai-agent-rules.md in README
  README.md
Due: none

chore: keep agent rules local only (removed from public docs)
  .ai-agent-rules.md
  .gitignore
  README.md
Due: none

fix(core): resolve Date-to-NaN bug in processResultKey found by AI review
  src/lib/features/baseDeviceFeatures.ts
Due: eslint --fix

fix(core): plug memory leak by killing go2rtc process on adapter unload
  src/main.ts
Due: eslint --fix

build: update artifacts and sync all files
  .gitignore
  build/lib/features/baseDeviceFeatures.js
  build/lib/features/baseDeviceFeatures.js.map
  build/main.d.ts
  build/main.js
  build/main.js.map
  build/tsconfig.tsbuildinfo
Due: eslint --fix

fix(core): remove redundant process.on(exit) listener to prevent adapter instance leaks
  src/main.ts
Due: eslint --fix

refactor(core): extract command handling to reduce nesting depth (sonarjs fix)
  src/main.ts
Due: eslint --fix

fix(core): implement robust process.on(exit) cleanup with memory leak prevention (removeListener)
  src/main.ts
Due: eslint --fix

fix(core): resolve timer race conditions and improve JSON safety per AI review
  src/main.ts
Due: eslint --fix

chore: sync all modified files and artifacts
  build/main.d.ts
  build/main.js
  build/main.js.map
  build/tsconfig.tsbuildinfo
Due: eslint --fix

chore: sync all modified files and artifacts (final polish)
  build/main.js
  build/main.js.map
  build/tsconfig.tsbuildinfo
  src/main.ts
Due: eslint --fix

refactor(core): utilize setResetTimeout helper to resolve sonarjs/nested-control-flow complexity
  src/main.ts
Due: eslint --fix

chore: enable pre-push AI guardrail and disable pre-commit review
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/ai-review-diff.js
Due: eslint --fix, node scripts/run-package-tests.js

chore: update documentation artifacts
  build/main.d.ts
  build/main.js
  build/main.js.map
  build/tsconfig.tsbuildinfo
Due: eslint --fix

fix(core): track floor switch timer to prevent ghost updates
  src/main.ts
Due: eslint --fix

refactor(core): wrap floor switch timer in try-finally for strict memory management
  src/main.ts
Due: eslint --fix

fix(core): add error handling to floor switch timer and refine AI guardrail
  scripts/ai-review-diff.js
  src/main.ts
Due: eslint --fix

fix(core): sync ai review guardrail and harden async safety
  src/main.ts
Due: eslint --fix

fix(core): apply ai consistency review findings
  src/main.ts
Due: eslint --fix

chore: update ai review instructions for structured output
  scripts/ai-review-instructions.md
Due: none

chore: tune ai for deep logic validation and full context awareness
  scripts/ai-review-diff.js
  scripts/ai-review-instructions.md
Due: eslint --fix

feat(ai): integrate token cost stats and commit message verification
  scripts/ai-review-diff.js
Due: eslint --fix

chore: enable blind spot analysis in ai review instructions
  scripts/ai-review-instructions.md
Due: none

refactor(ai): extract pricing constants as suggested by ai review
  scripts/ai-review-diff.js
Due: eslint --fix

chore: update ai pricing to match official google rates
  scripts/ai-review-diff.js
Due: eslint --fix

chore: align pricing config with gemini-3-flash-preview usage
  scripts/ai-review-diff.js
Due: eslint --fix

chore: remove ai cost calculation in review output
  scripts/ai-review-diff.js
Due: eslint --fix

fix(ai): treat emoji as blocking error and strictify logic checks
  scripts/ai-review-diff.js
  scripts/ai-review-instructions.md
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx yaml-lint: any of: *.{yml,yaml}
  node scripts/run-package-tests.js: any of: **/*.json
