Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat: improve room coloring logic and add dark mode support
  admin/jsonConfig.json
  io-package.json
  src/lib/commitInfo.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/roomColoring.test.ts
  src/lib/roomColoring.ts
  src/lib/types.d.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, node scripts/run-package-tests.js

chore: remove unused map_scale configuration
  admin/jsonConfig.json
  io-package.json
  src/lib/commitInfo.ts
  src/lib/types.d.ts
Due: eslint --fix, node scripts/run-package-tests.js

chore: prepare release (update changelog, remove daily builds)
  .github/workflows/test-and-release.yml
  README.md
Due: npx yaml-lint

chore: update package-lock.json
  package-lock.json
Due: node scripts/run-package-tests.js

chore: prepare release (update changelog, remove daily builds) (#1057)
  .github/workflows/test-and-release.yml
  README.md
  package-lock.json
Due: npx yaml-lint, node scripts/run-package-tests.js

fix(programs): implement client-side execution for roborock scenes and improve trigger logic (#1058)
  src/lib/httpApi.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Update README.md
  README.md
Due: none

Update README.md (#1059)
  README.md
Due: none

fix: map retrieval via tcp and improve network discovery
  README.md
  src/lib/deviceManager.ts
  src/lib/localApi.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

chore: cleanup map handling, fix unit tests and setup husky hooks
  .husky/pre-commit
  package.json
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/map/MapManager.ts
  src/lib/mock/MockAdapter.ts
  src/lib/mock/maps.test.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: remove prepare script and cleanup
  .husky/pre-commit
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: remove unused queue property and related test comments
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/localApi.ts
  src/lib/mock/maps.test.ts
  src/lib/mqttApi.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

chore: cleanup unused queue property, fix imports & linting
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix(localApi): prevent infinite retry loop on failed network probes
  src/lib/commitInfo.ts
  src/lib/localApi.ts
Due: eslint --fix

docs: update changelog in README (WIP)
  README.md
  src/lib/commitInfo.ts
Due: eslint --fix

fix: map retrieval via tcp and improve network discovery (#1060)
  .husky/pre-commit
  README.md
  package.json
  src/lib/commitInfo.ts
  src/lib/deviceManager.ts
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/localApi.ts
  src/lib/map/MapManager.ts
  src/lib/mock/MockAdapter.ts
  src/lib/mock/maps.test.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: add missing AutoEmptyDock and MopWash features for Q Revo Slim (a21)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/a21_features.ts
Due: eslint --fix

chore: add feature request template and update config
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint

fix: add missing AutoEmptyDock and MopWash features for Q Revo Slim (a21) (#1062)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/a21_features.ts
Due: eslint --fix

chore: add feature request template and update config (#1063)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint

feat(a147): implement getPhoto for Saros 10
  src/lib/commitInfo.ts
  src/lib/features/vacuum/a147_features.ts
Due: eslint --fix

fix(a147): do not cast img_id to number
  src/lib/commitInfo.ts
  src/lib/features/vacuum/a147_features.ts
Due: eslint --fix

fix(requestsHandler): force get_photo via MQTT to avoid TCP timeouts
  src/lib/commitInfo.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

fix(lint): resolve styling issues and fix MockAdapter regression in maps.test.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/map/b01/GridBeautifier.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/mock/MockAdapter.ts
  src/lib/mock/features.test.ts
  src/lib/mock/protocol.test.ts
  src/lib/socketHandler.ts
  src/main.ts
Due: eslint --fix

fix(photo): correct photoManager access in requestsHandler fallback
  src/lib/commitInfo.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

refactor(photo): remove unnecessary DUID fallback in binary request matching
  src/lib/commitInfo.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

fix: resolve linux asset loading issue, add dynamic fallback and web debug logging
  src/lib/AppPluginManager.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/www/map.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

feat: add verbose logging for MapBuilder and JIT fallback debug
  src/lib/commitInfo.ts
  src/lib/map/v1/MapBuilder.ts
Due: eslint --fix

feat: add verbose [PathTrace] logging and fallback mechanisms for assets
  src/lib/AppPluginManager.ts
  src/lib/commitInfo.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/v1/MapBuilder.ts
  src/main.ts
  src/www/map.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix: resolve linux asset loading by using full model names in frontend and backend
  src/lib/commitInfo.ts
  src/www/map.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix: migrate asset storage to managed file system to solve linux 404 issue
  src/lib/AppPluginManager.ts
  src/lib/commitInfo.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/v1/MapBuilder.ts
  src/www/map.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix: use dedicated meta object for asset storage to resolve writeFile error
  io-package.json
  src/lib/AppPluginManager.ts
  src/lib/commitInfo.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/v1/MapBuilder.ts
  src/www/map.ts
  www/app.js
  www/app.js.map
Due: eslint --fix, node scripts/run-package-tests.js

Refactor directory handling in MapBuilder for improved asset loading. Now correctly processes entries from the adapter, ensuring all relevant subdirectories are considered.
  src/lib/commitInfo.ts
  src/lib/map/b01/MapBuilder.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Enhance asset management and loading for maps. Obstacle icons and map… (#1084)
  .gitignore
  README.md
  package.json
  scripts/watch-build.js
  src/lib/AppPluginManager.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/requestsHandler.ts
  src/lib/socketHandler.ts
  src/main.ts
  src/www/map.ts
  tsconfig.tsbuildinfo
  www/app.js
  www/app.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Improve docking station status updates for vacuum features. Now supports dynamic updates without feature guards, ensuring proper initialization of states and folders.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Update dependencies and adjust admin version requirement for compatibility.
  .github/dependabot.yml
  io-package.json
  package-lock.json
  package.json
  src/lib/commitInfo.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx yaml-lint: any of: *.{yml,yaml}
  node scripts/check-lockfile.js: any of: package.json
  node scripts/run-package-tests.js: any of: **/*.json
