Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

fix: repository checker issues (deps & config)
  io-package.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: update package-lock.json
  package-lock.json
Due: node scripts/run-package-tests.js

fix: repository checker issues (deps & config) (#1034)
  io-package.json
  package-lock.json
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(build): dynamic commit info & robust fallback logic
  .husky/pre-commit
  package-lock.json
  package.json
  scripts/updateBuildInfo.js
  scripts/updateCommitInfo.js
  src/lib/buildInfo.ts
  src/lib/commitInfo.ts
  src/main.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(build): dynamic commit info & robust fallback logic (#1038)
  .husky/pre-commit
  package-lock.json
  package.json
  scripts/updateBuildInfo.js
  scripts/updateCommitInfo.js
  src/lib/buildInfo.ts
  src/lib/commitInfo.ts
  src/main.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

refactor: move protocol datasets to lib/protocols to keep build folder clean
  build/lib/protocols/q7_dataset.json
  build/lib/protocols/s7_maxv_dataset.json
  lib/protocols/q7_dataset.json
  lib/protocols/s7_maxv_dataset.json
  package.json
  scripts/extract_protocols.js
  scripts/extract_translations.js
  scripts/verify_translations.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: rename log output to Commit Info Script for consistency
  scripts/updateCommitInfo.js
  src/lib/commitInfo.ts
Due: eslint --fix

chore: remove updateCommitInfo from build scripts (runs via husky only)
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: silence husky in prepare script if HUSKY=0
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: silence husky in prepare script if HUSKY=0 (#1040)
  package.json
Due: node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(package): update build:git script to use updateCommitInfo.js
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(build): correct updateCommitInfo path and add missing copy:protocols script
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(build): remove redundant updateCommitInfo from build:git
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: responsive consumable resets and optimized build scripts
  .husky/pre-commit
  package.json
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/V1ConsumableService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/requestsHandler.ts
  src/main.ts
  test/unit/services/V1ConsumableService.test.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

1029 time out by resetting command side brush worktime folder reset consumables (#1044)
  .husky/pre-commit
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/V1ConsumableService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/mock/features.test.ts
  src/lib/requestsHandler.ts
  src/main.ts
  test/unit/services/V1ConsumableService.test.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: implement auto-relogin on invalid token and enforce strict startup
  src/lib/commitInfo.ts
  src/lib/httpApi.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix(#995): ignore unsolicited messages and update build scripts (#1045)
  package.json
  src/lib/buildInfo.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
  src/lib/mqttApi.ts
  test/unit/v1_dock_features.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat: general fixes and improvements (S7 scaling, 2FA hint, cleanup)
  README.md
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/jsonConfig.json
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/types.d.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, node scripts/run-package-tests.js

fix(v1): localization and state path issues
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix(http): propagate getHomeID error to trigger auto-relogin
  src/lib/commitInfo.ts
  src/lib/httpApi.ts
Due: eslint --fix

fix: implement auto-relogin on invalid token and enforce strict startup (#1048)
  src/lib/commitInfo.ts
  src/lib/httpApi.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Fix: Resolve 401 errors. 1. Added Headers/User-Agents. 2. Removed unused peripheral calls.
  src/lib/commitInfo.ts
  src/lib/httpApi.ts
Due: eslint --fix

Fix: Resolve 401 errors. 1. Added Headers/User-Agents. 2. Removed unused peripheral calls. (#1049)
  src/lib/commitInfo.ts
  src/lib/httpApi.ts
Due: eslint --fix

feat: Implement A101 vacuum/mop modes and custom presets
  src/lib/features/vacuum/a101_features.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

feat(a101): strict 1-to-1 implementation of sniffed attributes
  src/lib/features/vacuum/a101_features.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Update from template: X0000-setupAutomergeDependabot (#1041)
  .github/workflows/automerge-dependabot.yml
  .github/workflows/dependabot-auto-merge.yml.OLD
Due: npx yaml-lint

Update from template: E40xx-fixSchemaLinkForVsCode (#1012)
  .vscode/settings.json
Due: node scripts/run-package-tests.js

chore: unpin dependencies and remove redundant mocha
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: unpin dependencies and remove redundant mocha (#1050)
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix(a101): strict parameter alignment with sniffs (arrays vs objects)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

feat(core): validate 'set_' command responses (expect ['ok'])
  src/lib/commitInfo.ts
  src/lib/requestsHandler.ts
Due: eslint --fix

refactor(map): robust record sync and dynamic state discovery
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/mock/MockAdapter.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix(programs): implement client-side execution for roborock scenes and improve trigger logic
  src/lib/commitInfo.ts
  src/lib/httpApi.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: ensure map paths are rendered even if MOP_PATH is missing (fixes S6 MaxV)
  src/lib/commitInfo.ts
  src/lib/map/v1/MapBuilder.ts
Due: eslint --fix

1051 bug roborock s6 maxv set water box mode und lüfterleistung aktualisiert water box mode lüfterleistung nicht mehr (#1053)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/a101_features.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/mock/MockAdapter.ts
  src/lib/requestsHandler.ts
  tsconfig.tsbuildinfo
Due: eslint --fix
