Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

test-appplugin-prove-Q10-productive-history-replay
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_Q10_MAP_EVENT_POC.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/lib/appPluginProductHostProof.ts
  src/apppluginHost/apkAppPluginDeviceModelRuntimeFactory.ts
  src/apppluginHost/apkAppPluginDeviceNativeRuntimeEnvironment.ts
  src/apppluginHost/apkAppPluginDeviceRuntimeHostProvider.ts
  src/apppluginHost/apkAppPluginModelRuntime.ts
  src/apppluginHost/apkAppPluginNativeRuntimeComposition.ts
  src/apppluginHost/apkHermesHostProtocol.ts
  test/unit/appplugin_apk_hermes_host_protocol.test.ts
  test/unit/appplugin_apk_model_runtime.test.ts
  test/unit/appplugin_q10_map_event_poc.test.ts
  test/unit/appplugin_q10_product_host.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

appplugin-Q7-productive-map-replay
  docs/APK_APPPLUGIN_EXECUTION_MODEL.md
  docs/APPPLUGIN_REWORK_PHASES.md
  docs/appplugin-rework-tracker.json
  docs/generated/APPPLUGIN_REWORK_STATUS.md
  scripts/lib/appPluginProductHostProof.ts
  src/apppluginHost/apkDeviceIngress.ts
  test/unit/appplugin_apk_device_ingress.test.ts
  test/unit/appplugin_q7_product_host.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix(vacuum): reset stale B01 cleaning records before syncing
  src/lib/features/vacuum/services/B01MapService.ts
Due: eslint --fix

Fix B01 HomeData status sync
  src/lib/deviceManager.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  test/unit/b01_status_normalization.test.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

Fix Q7 consumable status mapping
  src/lib/deviceManager.ts
  src/lib/features/vacuum/services/B01ConsumableService.ts
  test/unit/DeterministicLogic.test.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/services/B01ConsumableService.test.ts
Due: eslint --fix

Fix B01 protocol 102 RPC replies
  src/lib/deviceManager.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  src/lib/features/vacuum/services/B01ConsumableService.ts
  src/lib/mqttApi.test.ts
  src/lib/mqttApi.ts
  test/unit/b01_status_normalization.test.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/services/B01ConsumableService.test.ts
Due: eslint --fix

Fix Q7 HomeData consumable overwrite
  src/lib/deviceManager.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

fix: preserve raw HomeData device status
  src/lib/deviceManager.ts
Due: eslint --fix

test: cover raw HomeData device status sync
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

fix: narrow raw status state types
  src/lib/deviceManager.ts
Due: eslint --fix

fix: map AppPlugin dock errors for S7 devices
  lib/protocols/roborock_error_codes.json
  package.json
  scripts/extract_appplugin_error_codes.js
  src/lib/features/vacuum/adapterErrorMapping.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  test/unit/dock_error_mapping.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: include translation-defined error codes
  lib/protocols/roborock_error_codes.json
  scripts/extract_appplugin_error_codes.js
  test/unit/dock_error_mapping.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

Map localized S7 dock error states (#1361)
  lib/protocols/roborock_error_codes.json
  package.json
  scripts/extract_appplugin_error_codes.js
  src/lib/features/vacuum/adapterErrorMapping.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  test/unit/dock_error_mapping.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat: name Zeo One app program status
  src/lib/deviceManager.ts
Due: eslint --fix

test: cover Zeo One app program status
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

fix: keep unverified Zeo One status as raw value
  src/lib/deviceManager.ts
Due: eslint --fix

test: retain unverified Zeo One status as raw value
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

feat: decode Zeo One custom program status
  src/lib/deviceManager.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

Translated using Weblate (French)
  admin/i18n/fr.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Spanish)
  admin/i18n/es.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Dutch)
  admin/i18n/nl.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Russian)
  admin/i18n/ru.json
Due: node scripts/run-package-tests.js

Translated using Weblate (German)
  admin/i18n/de.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Polish)
  admin/i18n/pl.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Italian)
  admin/i18n/it.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Ukrainian)
  admin/i18n/uk.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Chinese (Simplified))
  admin/i18n/zh-cn.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Portuguese)
  admin/i18n/pt.json
Due: node scripts/run-package-tests.js

fix: decode Zeo One status from A01 updates
  src/lib/deviceManager.ts
  src/lib/zeoOneStatusLabels.ts
  src/main.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/zeo_one_a01_status.test.ts
Due: eslint --fix

feat(zeo-one): query washer status DPs over A01
  src/lib/cryptoEngine.ts
  src/lib/deviceManager.ts
  src/lib/features/washer/ZeoOneFeatures.test.ts
  src/lib/features/washer/ZeoOneFeatures.ts
  src/lib/messageParser.test.ts
  src/lib/messageParser.ts
  src/lib/mqttApi.test.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.test.ts
  src/lib/requestsHandler.ts
  src/lib/zeoOneStatusLabels.ts
  test/unit/crypto_specification.test.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/zeo_one_a01_status.test.ts
Due: eslint --fix

ci: test adapter on Node.js 26
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

ci: test adapter on Node.js 26 (#1418)
  .github/workflows/test-and-release.yml
Due: npx yaml-lint

fix: keep tracked repository dotfiles unignored
  .gitignore
Due: none

fix: keep tracked repository dotfiles unignored (#1420)
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx yaml-lint: any of: *.{yml,yaml}
  node scripts/check-lockfile.js: any of: package.json
  node scripts/run-package-tests.js: any of: **/*.json
