Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Added state management for cleaningInfo JSON in B01MapService, enhancing data handling for vacuum operations.
  src/lib/features/vacuum/services/B01MapService.ts
Due: eslint --fix

Enhanced UDP discovery logging to improve debugging and device tracking, including detailed messages for decryption failures and device rediscovery.
  src/lib/localApi.ts
Due: eslint --fix

TCP protocol probe when no UDP (L01 Hello, B01 prop.get, 1.0 get_prop get_status)
  src/lib/commitInfo.ts
  src/lib/localApi.ts
Due: eslint --fix

Improved TCP connection handling by attaching lifecycle event listeners to manage reconnections on close, error, and end events.
  src/lib/commitInfo.ts
  src/lib/localApi.ts
Due: eslint --fix

Added TCP hex logging for incoming and outgoing messages in L01 protocol to enhance debugging capabilities.
  src/lib/commitInfo.ts
  src/lib/localApi.ts
Due: eslint --fix

Prepare README for release: supported devices, changelog, TOC, typo fix
  README.md
  src/lib/commitInfo.ts
Due: eslint --fix

Zone cleaning: point to web UI tab instead of manual URL
  README.md
  src/lib/commitInfo.ts
Due: eslint --fix

Chore/release readme (#1135)
  README.md
  src/lib/commitInfo.ts
Due: eslint --fix

Add npm run release script for release-script
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

chore: release v0.7.0-beta.0
  .commitmessage
  .gitignore
  README.md
  io-package.json
  package-lock.json
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: address ioBroker repo checker issue #1128
  .github/workflows/dependabot-auto-merge.yml.OLD
  .github/workflows/test-and-release.yml
  .github/workflows/update_rr_zips.yml
  io-package.json
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint, node scripts/run-package-tests.js

fix: address ioBroker repo checker issue #1128 (#1136)
  .github/workflows/dependabot-auto-merge.yml.OLD
  .github/workflows/test-and-release.yml
  .github/workflows/update_rr_zips.yml
  io-package.json
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint, node scripts/run-package-tests.js

chore: set npm dist-tag latest for pre-releases, remove next
  .github/workflows/test-and-release.yml
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint

chore: set npm dist-tag latest for pre-releases, remove next (#1141)
  .github/workflows/test-and-release.yml
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint

fix: ensure room names are only updated from API and prevent overwriting existing names (issue #1140)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/main.ts
  test/unit/services/B01MapService.test.ts
Due: eslint --fix

Revert: do not set npm dist-tag latest for pre-releases (fixes #1142)
  .github/workflows/test-and-release.yml
  src/lib/commitInfo.ts
Due: eslint --fix, npx yaml-lint

Refactor room mapping logic to ensure room states are only created for segments present on the loaded map. This improves accuracy in room assignments and logging for map updates.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/V1MapService.ts
Due: eslint --fix

Refactor room mapping logic to ensure room states are only created fo… (#1148)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/V1MapService.ts
Due: eslint --fix

refactor: remove unused locales parameter from B01MapService constructor
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01MapService.ts
  test/unit/services/B01MapService.test.ts
Due: eslint --fix

fix: ensure room names are only updated from API and prevent overwrit… (#1149)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/main.ts
  test/unit/services/B01MapService.test.ts
Due: eslint --fix

refactor: simplify request handling by removing externalId parameter from relevant methods
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/requestsHandler.ts
  src/lib/socketHandler.ts
Due: eslint --fix

refactor: simplify request handling by removing externalId parameter … (#1152)
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/requestsHandler.ts
  src/lib/socketHandler.ts
Due: eslint --fix

Update README.md
  README.md
  src/lib/commitInfo.ts
Due: eslint --fix

chore: release v0.7.0-beta.1
  README.md
  io-package.json
  package-lock.json
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

feat: add q10 room and zone clean commands
  src/lib/b01/q10/Q10CommandHandler.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/Q10VacuumFeatures.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

fix: refine q10 shadow mapping and live map pose
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/q10/Q10ShadowDataService.ts
  src/lib/features/vacuum/vacuumConstants.ts
  src/lib/map/q10/Q10MapCreator.ts
  src/main.ts
  test/unit/device_info_online_state.test.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

chore: resolve package conflicts with main
  src/lib/commitInfo.ts
Due: eslint --fix

fix: use q10 source-verified command dps
  src/lib/b01/q10/Q10CommandHandler.ts
  src/lib/commitInfo.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

fix: make q10 map backgrounds transparent
  src/lib/commitInfo.ts
  src/lib/map/q10/Q10MapBuilder.ts
Due: eslint --fix

refactor: consolidate B01/Q10 map and state architecture
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/deviceStateWriter.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  src/lib/features/vacuum/b01/Q10VacuumFeatures.ts
  src/lib/features/vacuum/b01/q10/Q10CleanRecordService.ts
  src/lib/features/vacuum/b01/q10/Q10ShadowDataService.ts
  src/lib/features/vacuum/services/B01ConsumableService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/features/vacuum/services/StationService.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/B01MapPayloadClassifier.ts
  src/lib/map/b01/B01MapPipeline.ts
  src/lib/map/b01/MapDecryptor.ts
  src/lib/map/b01/MapParser.ts
  src/lib/map/b01/Q10MapParser.ts
  src/lib/map/q10/Q10MapBuilder.ts
  src/lib/map/q10/Q10MapCreator.ts
  src/lib/map/q10/Q10MapGeometry.ts
  src/lib/map/q10/Q10MapParser.ts
  src/lib/map/q10/Q10RuntimePose.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/mqttApi.ts
  src/www/map.ts
  test/unit/b01_map_payload_classifier.test.ts
  test/unit/q10FixtureDefaults.ts
  test/unit/q10TestSupport.ts
  test/unit/q10_b01_map.test.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix: restore native q10 app commands
  src/lib/b01/q10/Q10CommandHandler.ts
  src/lib/commitInfo.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

fix: polish q10 map rendering and frontend labels
  docs/map/Q10_B01_Map_Pipeline.md
  src/common/mapDrawing/types.ts
  src/lib/commitInfo.ts
  src/lib/map/q10/Q10MapBuilder.ts
  src/lib/map/q10/Q10MapCreator.ts
  src/lib/map/q10/Q10MapGeometry.ts
  src/www/SVGMapRenderer.ts
  src/www/map.ts
  test/unit/q10_b01_map.test.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix: align q10 map pipeline with original app
  docs/map/Q10_B01_Map_Pipeline.md
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/Q10VacuumFeatures.ts
  src/lib/features/vacuum/b01/q10/Q10ShadowDataService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/types.ts
  src/lib/map/q10/Q10MapBuilder.ts
  src/lib/map/q10/Q10MapCreator.ts
  src/lib/map/q10/Q10OverlaySanitizer.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/map/q10/types.ts
  src/lib/roomNameNormalizer.ts
  test/unit/q10_b01_map.test.ts
  test/unit/room_name_normalizer.test.ts
Due: eslint --fix

feat: Enhance Q10 payload extraction and parsing for improved map handling
  src/lib/b01/q10/Q10CommandHandler.ts
  src/lib/b01/q10/Q10DpDispatcher.ts
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/Q10VacuumFeatures.ts
  src/lib/features/vacuum/b01/q10/Q10CleanRecordService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/types.ts
  src/lib/map/q10/Q10MapCreator.ts
  src/lib/map/q10/Q10OverlaySanitizer.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/mqttApi.ts
  src/www/map.ts
  test/unit/q10_b01_map.test.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix(q10): include missing mop paths in backend map image rendering
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/q10/Q10ShadowDataService.ts
  src/lib/map/q10/Q10MapBuilder.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/www/map.ts
  test/unit/b01_map_payload_classifier.test.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

fix: align q10 handling and adapter logging
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  src/lib/PhotoManager.ts
  src/lib/b01/q10/Q10DpDispatcher.ts
  src/lib/commitInfo.ts
  src/lib/deviceManager.ts
  src/lib/errorUtils.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  src/lib/features/vacuum/b01/q10/Q10CleanRecordService.ts
  src/lib/features/vacuum/b01/q10/Q10ShadowDataService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/q10/Q10MapCreator.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/map/v1/MapParser.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/lib/roomNameNormalizer.ts
  src/lib/translationManager.ts
  src/main.ts
  test/unit/b01_map_payload_classifier.test.ts
  test/unit/device_info_online_state.test.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix state/status
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/Q10VacuumFeatures.ts
  src/lib/features/vacuum/b01/q10/Q10ShadowDataService.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

fix: align q10 live map transport with original app
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01/Q10VacuumFeatures.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/B01MapPayloadClassifier.ts
  src/lib/map/q10/Q10YxMapParser.ts
  src/lib/mqttApi.ts
  test/unit/b01_map_payload_classifier.test.ts
  test/unit/q10_b01_map.test.ts
  test/unit/room_name_normalizer.test.ts
Due: eslint --fix

fix: render docked Q10 robot on live maps
  src/lib/commitInfo.ts
  src/lib/deviceManager.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/B01StateSemantics.ts
  src/lib/map/q10/Q10MapCreator.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx yaml-lint: any of: *.{yml,yaml}
  node scripts/check-lockfile.js: any of: package.json
  node scripts/run-package-tests.js: any of: **/*.json
