Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Fix repository checker findings
  .github/workflows/test-and-release.yml
  package-lock.json
  package.json
  src/www/conn.ts
  www/app.js
  www/app.js.map
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Fix repository checker findings (#1326)
  .github/workflows/test-and-release.yml
  package-lock.json
  package.json
  src/www/conn.ts
  www/app.js
  www/app.js.map
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Fix Roborock cloud reauth for HomeData 401
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Avoid repeated 2FA after HomeData 401
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Add bounded HomeData fallback
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Refresh stale Roborock auth data safely
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Try alternate HomeData identifiers
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Handle Roborock Real API clock skew
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Detect Roborock host clock skew
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

Fix Roborock cloud reauth for HomeData 401 (#1327)
  docs/CloudAPI.md
  src/lib/httpApi.ts
  test/unit/cloud_api_specification.test.ts
Due: eslint --fix

fix: sequence scene segment tasks
  src/main.ts
  test/unit/command_state_handling.test.ts
Due: eslint --fix

fix: add scene execution modes and persistent queue
  admin/i18n/de.json
  admin/i18n/en.json
  admin/jsonConfig.json
  io-package.json
  src/lib/httpApi.ts
  src/lib/types.d.ts
  src/main.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: wait for stable scene segment completion
  src/main.ts
Due: eslint --fix

fix: wait for dock wash before local scene continuation
  admin/i18n/de.json
  admin/i18n/en.json
  admin/jsonConfig.json
  src/main.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: prefer local robot program execution for scenes
  admin/i18n/de.json
  admin/i18n/en.json
  admin/jsonConfig.json
  src/main.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: require local program mapping for scene execution
  admin/i18n/de.json
  admin/i18n/en.json
  admin/jsonConfig.json
  src/main.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: quote local program mapping error log
  src/main.ts
Due: eslint --fix

fix: remove stale local scene segment fallback code
  src/main.ts
Due: eslint --fix

fix: run saved scenes locally from scene commands
  admin/i18n/de.json
  admin/i18n/en.json
  admin/jsonConfig.json
  src/main.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: wait through mop washing in scene queue
  src/main.ts
Due: eslint --fix

fix: clear stale local scene queues
  src/main.ts
Due: eslint --fix

fix: cancel scene queue on external dock return
  src/main.ts
Due: eslint --fix

fix: detect paused dock return as scene cancel
  src/main.ts
Due: eslint --fix

fix: split scene queue lint statement
  src/main.ts
Due: eslint --fix

test: update scene queue command expectations
  test/unit/command_state_handling.test.ts
Due: eslint --fix

test: allow slower scene command state import
  test/unit/command_state_handling.test.ts
Due: eslint --fix

fix: handle B01 local endpoint probing
  src/lib/localApi.test.ts
  src/lib/localApi.ts
  src/lib/mqttApi.ts
  src/main.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

fix: relax B01 startup probe timeout
  src/main.ts
Due: eslint --fix

Fix B01 protocol 102 RPC replies
  src/lib/deviceManager.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  src/lib/features/vacuum/services/B01ConsumableService.ts
  src/lib/mqttApi.test.ts
  src/lib/mqttApi.ts
  test/unit/b01_status_normalization.test.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/services/B01ConsumableService.test.ts
Due: eslint --fix

Add UDP discovery leader election
  src/lib/localApi.test.ts
  src/lib/localApi.ts
  src/lib/mock/MockAdapter.ts
Due: eslint --fix

Fix B01 HomeData status sync
  src/lib/deviceManager.ts
  src/lib/features/vacuum/b01/B01BaseVacuumFeatures.ts
  test/unit/b01_status_normalization.test.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

Fix Q7 consumable status mapping
  src/lib/deviceManager.ts
  src/lib/features/vacuum/services/B01ConsumableService.ts
  test/unit/DeterministicLogic.test.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/services/B01ConsumableService.test.ts
Due: eslint --fix

Fix Q7 HomeData consumable overwrite
  src/lib/deviceManager.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

fix: update Qrevo Edge 2 water mode mapping
  src/lib/features/vacuum/a187_features.ts
  src/lib/features/vacuum/qrevo_edge_water_mapping.test.ts
Due: eslint --fix

fix: move Edge 2 water mapping to a298
  src/lib/features/vacuum/a187_features.ts
  src/lib/features/vacuum/a298_features.ts
  src/lib/features/vacuum/index.ts
  src/lib/features/vacuum/qrevo_edge_water_mapping.test.ts
Due: eslint --fix

Fix missing admin translations
  admin/i18n/es.json
  admin/i18n/fr.json
  admin/i18n/it.json
  admin/i18n/nl.json
  admin/i18n/pl.json
  admin/i18n/pt.json
  admin/i18n/ru.json
  admin/i18n/uk.json
  admin/i18n/zh-cn.json
  test/unit/i18n_key_parity.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

Fix missing admin translations (#1358)
  admin/i18n/es.json
  admin/i18n/fr.json
  admin/i18n/it.json
  admin/i18n/nl.json
  admin/i18n/pl.json
  admin/i18n/pt.json
  admin/i18n/ru.json
  admin/i18n/uk.json
  admin/i18n/zh-cn.json
  test/unit/i18n_key_parity.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: detect docking station status from dock type (#1359)
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  npx yaml-lint: any of: *.{yml,yaml}
  node scripts/check-lockfile.js: any of: package.json
  node scripts/run-package-tests.js: any of: **/*.json
