Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

Translated using Weblate (Spanish)
  admin/i18n/es.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Chinese (Simplified))
  admin/i18n/zh-cn.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Polish)
  admin/i18n/pl.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Portuguese)
  admin/i18n/pt.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Italian)
  admin/i18n/it.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Russian)
  admin/i18n/ru.json
Due: node scripts/run-package-tests.js

Translated using Weblate (French)
  admin/i18n/fr.json
Due: node scripts/run-package-tests.js

Translated using Weblate (Dutch)
  admin/i18n/nl.json
Due: node scripts/run-package-tests.js

Translations update from ioBroker Translation System (#1421)
  admin/i18n/de.json
  admin/i18n/es.json
  admin/i18n/fr.json
  admin/i18n/it.json
  admin/i18n/nl.json
  admin/i18n/pl.json
  admin/i18n/pt.json
  admin/i18n/ru.json
  admin/i18n/uk.json
  admin/i18n/zh-cn.json
Due: node scripts/run-package-tests.js

fix: isolate non-vacuum devices from the vacuum runtime
  src/lib/deviceManager.ts
  src/lib/legacyDevicePolicy.ts
  src/lib/localApi.test.ts
  src/lib/localApi.ts
  src/lib/mock/MockAdapter.ts
  src/lib/mock/queue.test.ts
  src/lib/mqttApi.test.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/main.ts
  test/unit/device_online_homedata_sync.test.ts
  test/unit/legacy_device_routing.test.ts
  test/unit/q10_b01_map.test.ts
Due: eslint --fix

fix: initialize the shared asset file storage before use
  src/lib/AppPluginManager.ts
  test/unit/appplugin_asset_storage.test.ts
Due: eslint --fix

feat: prepare source-derived RockMow runtime and IoT transport
  docs/mower/SourceContract.md
  src/lib/httpApi.ts
  src/lib/iotHawk.ts
  src/lib/mower/MowerRpcTransport.ts
  src/lib/mower/MowerSession.ts
  src/lib/mower/MowerStatusStore.ts
  src/lib/mower/mowerCloudTransport.ts
  src/lib/mower/mowerContract.ts
  src/lib/mower/mowerProtobuf.ts
  test/unit/iot_hawk.test.ts
  test/unit/iot_shadow.test.ts
  test/unit/mower_cloud_transport.test.ts
  test/unit/mower_contract.test.ts
  test/unit/mower_protobuf.test.ts
  test/unit/mower_rpc_transport.test.ts
  test/unit/mower_session.test.ts
Due: eslint --fix

feat: integrate source-derived S108 commands and status
  docs/mower/SourceContract.md
  src/lib/deviceManager.ts
  src/lib/mower/MowerRpcTransport.ts
  src/lib/mower/MowerRuntime.ts
  src/lib/mower/MowerStatusStore.ts
  src/lib/mower/mowerCloudTransport.ts
  src/lib/mower/mowerJsonMessage.ts
  src/lib/mower/mowerProtobuf.ts
  src/lib/mower/statusEnums.json
  src/lib/mqttApi.test.ts
  src/lib/mqttApi.ts
  src/main.ts
  test/unit/legacy_device_routing.test.ts
  test/unit/mower_cloud_transport.test.ts
  test/unit/mower_contract.test.ts
  test/unit/mower_json_message.test.ts
  test/unit/mower_protobuf.test.ts
  test/unit/mower_rpc_transport.test.ts
  test/unit/mower_runtime_integration.test.ts
Due: eslint --fix, node scripts/run-package-tests.js

fix: preserve authored documents during generation
  scripts/generate-docs.js
  test/unit/documentation_generation.test.ts
Due: eslint --fix

feat: add mower progress and verified rainfall settings
  docs/mower/DeviceTest.md
  docs/mower/SourceContract.md
  src/lib/mower/MowerRuntime.ts
  src/lib/mower/MowerSession.ts
  src/lib/mower/MowerStatusStore.ts
  src/lib/mower/mowerContract.ts
  src/lib/mower/mowerJsonMessage.ts
  src/lib/mower/mowerProtobuf.ts
  test/unit/mower_contract.test.ts
  test/unit/mower_protobuf.test.ts
  test/unit/mower_runtime_integration.test.ts
Due: eslint --fix

feat: add source-derived mower not-disturb interval
  docs/mower/DeviceTest.md
  docs/mower/SourceContract.md
  src/lib/mower/MowerRuntime.ts
  src/lib/mower/MowerSession.ts
  src/lib/mower/MowerStatusStore.ts
  src/lib/mower/mowerContract.ts
  src/lib/mower/mowerProtobuf.ts
  test/unit/mower_contract.test.ts
  test/unit/mower_protobuf.test.ts
  test/unit/mower_runtime_integration.test.ts
Due: eslint --fix

fix: use controller-compatible mower type imports
  src/lib/mower/MowerRuntime.ts
  src/lib/mower/MowerSession.ts
Due: eslint --fix

feat: prepare RockMow schedules maps areas and cutting height
  docs/mower/DeviceTest.md
  docs/mower/SourceContract.md
  src/lib/mower/MowerMapStore.ts
  src/lib/mower/MowerReadback.ts
  src/lib/mower/MowerRuntime.ts
  src/lib/mower/MowerSession.ts
  src/lib/mower/MowerStatusStore.ts
  src/lib/mower/mowerCloudTransport.ts
  src/lib/mower/mowerContract.ts
  src/lib/mower/mowerCuttingHeight.ts
  src/lib/mower/mowerMapBlob.ts
  src/lib/mower/mowerMapProjection.ts
  src/lib/mower/mowerMapTransfer.ts
  src/lib/mower/mowerProtobuf.ts
  src/lib/mower/mowerScheduleContract.ts
  test/unit/legacy_device_routing.test.ts
  test/unit/mower_cloud_transport.test.ts
  test/unit/mower_cutting_height.test.ts
  test/unit/mower_map_blob.test.ts
  test/unit/mower_map_projection.test.ts
  test/unit/mower_map_transfer.test.ts
  test/unit/mower_maps.test.ts
  test/unit/mower_protobuf.test.ts
  test/unit/mower_readback.test.ts
  test/unit/mower_runtime_integration.test.ts
  test/unit/mower_schedules.test.ts
  test/unit/mower_session.test.ts
Due: eslint --fix

fix(zeo-one): match cotton program label in app
  src/lib/deviceManager.ts
  test/unit/zeo_one_a01_status.test.ts
Due: eslint --fix

feat(zeo-one): expose cached washing preference
  src/lib/features/washer/ZeoOneFeatures.test.ts
  src/lib/features/washer/ZeoOneFeatures.ts
  src/lib/zeoOneStatusLabels.ts
  test/unit/zeo_one_a01_status.test.ts
Due: eslint --fix

feat(zeo-one): read status over discovered local sessions
  src/lib/localApi.ts
  src/lib/requestsHandler.test.ts
  src/lib/requestsHandler.ts
  test/unit/zeo_one_local_transport.test.ts
Due: eslint --fix

revert: defer experimental Zeo One local TCP status
  src/lib/localApi.ts
  src/lib/requestsHandler.test.ts
  src/lib/requestsHandler.ts
  test/unit/zeo_one_local_transport.test.ts
Due: eslint --fix

fix(a01): apply protocol 102 DP updates immediately
  src/lib/mqttApi.ts
  test/unit/zeo_one_a01_status.test.ts
Due: eslint --fix

feat(zeo-one): add AppPlugin-derived washer settings
  README.md
  src/lib/deviceManager.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/washer/ZeoOneFeatures.test.ts
  src/lib/features/washer/ZeoOneFeatures.ts
  src/lib/features/washer/zeoOneProgramCatalog.test.ts
  src/lib/features/washer/zeoOneProgramCatalog.ts
  src/lib/requestsHandler.test.ts
  src/lib/requestsHandler.ts
  src/lib/zeoOneStatusLabels.ts
  src/main.ts
  test/unit/zeo_one_a01_status.test.ts
Due: eslint --fix

feat: label Zeo One states with original AppPlugin translations
  README.md
  src/lib/deviceManager.ts
  src/lib/features/washer/ZeoOneFeatures.ts
  src/lib/zeoOneAppPluginTranslations.ts
  src/lib/zeoOneStateMetadata.test.ts
  src/lib/zeoOneStateMetadata.ts
  src/main.ts
  test/unit/device_online_homedata_sync.test.ts
Due: eslint --fix

Fix segment cleaning for active map
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

Refresh status before segment cleaning
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

Invalidate stale map status before refresh
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.test.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix
