Repository copystring/ioBroker.roborock: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{yml,yaml}": "npx yaml-lint",
  "package.json": "node scripts/check-lockfile.js",
  "**/*.json": [
    "node scripts/run-package-tests.js"
  ]
}

Update dependencies and adjust admin version requirement for compatibility. (#1086)
  .github/dependabot.yml
  io-package.json
  package-lock.json
  package.json
  src/lib/commitInfo.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Enhance vacuum features with segment cleaning capability. Users can now initiate cleaning for specific rooms, improving control over cleaning tasks.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Remove obsolete TypeScript build info file to streamline project structure.
  src/lib/commitInfo.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Chore/untrack tsbuildinfo (#1106)
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

Revert "Enhance vacuum features with segment cleaning capability. Users can now initiate cleaning for specific rooms, improving control over cleaning tasks."
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
Due: eslint --fix

Update dependencies and configuration files for improved compatibility and performance. Added .npmrc for legacy peer dependencies and updated various package versions.
  .github/workflows/test-and-release.yml
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/lib/commitInfo.ts
  test/validate_configs.js
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Add ESLint support with @eslint/js package and improve CI checks
  package-lock.json
  package.json
  scripts/watch-build.js
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Enhance ESLint integration by adding new plugins and updating configurations for better linting support.
  package-lock.json
  package.json
  scripts/watch-build.js
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Update ESLint configuration to use typescript-eslint and add Prettier for improved code formatting.
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/watch-build.js
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Update package dependencies and improve linting process by adding new ESLint plugins and removing unused packages.
  package-lock.json
  package.json
  scripts/check-eslint-peer-deps.js
  scripts/watch-build.js
  src/lib/commitInfo.ts
  src/types.d.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Add @iobroker/types package and enhance build process with TypeScript checks
  .github/workflows/test-and-release.yml
  package-lock.json
  package.json
  scripts/watch-build.js
  src/lib/commitInfo.ts
  tsconfig.json
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Add @iobroker/types package to dependencies for enhanced type support
  package.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Remove duplicate entry for @iobroker/types in package-lock.json to streamline dependencies.
  package-lock.json
  src/lib/commitInfo.ts
Due: eslint --fix, node scripts/run-package-tests.js

Update dependencies and configuration files for improved compatibilit… (#1108)
  .github/workflows/test-and-release.yml
  .gitignore
  .npmrc
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/check-eslint-peer-deps.js
  scripts/watch-build.js
  src/lib/commitInfo.ts
  src/types.d.ts
  test/validate_configs.js
  tsconfig.json
Due: eslint --fix, npx yaml-lint, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Added support for Roborock Saros 20 / Saros 20X in the README and included new vacuum features in the codebase.
  README.md
  src/lib/commitInfo.ts
  src/lib/features/vacuum/a288_features.ts
  src/lib/features/vacuum/index.ts
Due: eslint --fix

Enhanced device handling by adding auto-detection for unsupported vacuum models, improving user experience with informative logging for unknown categories.
  src/lib/commitInfo.ts
  src/lib/deviceManager.ts
  src/lib/features/fallbackFeatures.ts
Due: eslint --fix

Refactor error handling to improve logging consistency across the codebase. All error catches now utilize a unified method for extracting error messages and stack traces, enhancing clarity in logs.
  src/lib/AppPluginManager.ts
  src/lib/PhotoManager.ts
  src/lib/commitInfo.ts
  src/lib/cryptoEngine.ts
  src/lib/deviceManager.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/httpApi.ts
  src/lib/localApi.ts
  src/lib/map/MapManager.ts
  src/lib/messageParser.ts
  src/lib/mock/MockAdapter.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/lib/socketHandler.ts
  src/main.ts
Due: eslint --fix

Improved device state handling by enforcing stricter ID validation and enhanced error logging for map updates, ensuring better reliability and user feedback.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/map/v1/MapParser.ts
  src/main.ts
Due: eslint --fix

Added support for new map zones, including curtain and missed-cleaning areas, enhancing the visual representation of cleaning tasks on the map.
  src/lib/commitInfo.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/map/v1/MapParser.ts
Due: eslint --fix

Streamlined error handling in background processes for map updates, improving performance and reducing unnecessary logging.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

Improved error logging for go2rtc process by differentiating between normal output and error messages, enhancing clarity for users during troubleshooting.
  src/lib/commitInfo.ts
  src/main.ts
Due: eslint --fix

1083 feature saros 20x support (#1110)
  README.md
  src/lib/deviceManager.ts
  src/lib/features/fallbackFeatures.ts
  src/lib/features/vacuum/a288_features.ts
  src/lib/features/vacuum/index.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/map/v1/MapParser.ts
  src/main.ts
Due: eslint --fix

feat(watch): auto-restart watch:all on crash or watcher error
  scripts/watch-build.js
  src/lib/commitInfo.ts
Due: eslint --fix

feat(watch): auto-restart watch:all on crash or watcher error (#1111)
  scripts/watch-build.js
  src/lib/commitInfo.ts
Due: eslint --fix

Improve docking station status updates for vacuum features. Now supports dynamic updates without feature guards, ensuring proper initialization of states and folders.
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

Improve docking station status updates for vacuum features. Now supports dynamic updates without feature guards, ensuring proper initialization of states and folders. (#1112)
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
Due: eslint --fix

Raumreinigung fuer Roborock (Q7/M5/B01)
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/httpApi.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/b01/MapDecryptor.ts
  src/lib/map/b01/MapParser.ts
  src/lib/messageParser.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/main.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

B01 map flow, stop/segment-clean, live-guard; V1 shared-device rooms; map decompress + MOP_PATH fix; HomeData v3 only; crypto/build cleanups
  docs/Encryption.md
  package.json
  src/common/mapDrawing/constants.ts
  src/common/mapDrawing/coordHelpers.ts
  src/common/mapDrawing/drawMapV1.ts
  src/common/mapDrawing/types.ts
  src/lib/B01ChunkAssembler.ts
  src/lib/commitInfo.ts
  src/lib/cryptoEngine.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
  src/lib/httpApi.ts
  src/lib/map/MapHelper.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/b01/MapDecryptor.ts
  src/lib/map/b01/MapParser.ts
  src/lib/map/b01/roborock_proto.ts
  src/lib/map/v1/CanvasMapRenderer.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/map/v1/MapParser.ts
  src/lib/messageParser.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/lib/socketHandler.ts
  src/main.ts
  src/www/SVGMapRenderer.ts
  src/www/map.ts
  test/unit/b01_research_maps_regression.fixtures.ts
  test/unit/b01_research_maps_regression.test.ts
  www/app.js
  www/app.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

fix: prevent bootloop from unhandled rejection and init state (fixes #1120)
  src/lib/commitInfo.ts
  src/main.ts
Due: eslint --fix

fix: prevent bootloop from unhandled rejection and init state (fixes … (#1121)
  src/lib/commitInfo.ts
  src/main.ts
Due: eslint --fix

Enhance vacuum features with segment cleaning capability. Users can now initiate cleaning for specific rooms, improving control over cleaning tasks.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
Due: eslint --fix

Raumreinigung fuer Roborock (Q7/M5/B01)
  src/lib/commitInfo.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/httpApi.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/b01/MapDecryptor.ts
  src/lib/map/b01/MapParser.ts
  src/lib/messageParser.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/main.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

Enhance build process for www assets; add support for CURTAIN and MISS_ZONE in map drawing. .
  scripts/watch-build.js
  src/common/mapDrawing/drawMapV1.ts
  src/lib/commitInfo.ts
  www/app.js
  www/app.js.map
Due: eslint --fix

1064 feature raumbehandlung für roborock q7 m5 (#1122)
  docs/Encryption.md
  package.json
  scripts/watch-build.js
  src/common/mapDrawing/constants.ts
  src/common/mapDrawing/coordHelpers.ts
  src/common/mapDrawing/drawMapV1.ts
  src/common/mapDrawing/types.ts
  src/lib/B01ChunkAssembler.ts
  src/lib/commitInfo.ts
  src/lib/cryptoEngine.ts
  src/lib/features/baseDeviceFeatures.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/services/B01ControlService.ts
  src/lib/features/vacuum/services/B01MapService.ts
  src/lib/features/vacuum/services/V1MapService.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/features/vacuum/vacuumConstants.ts
  src/lib/httpApi.ts
  src/lib/map/MapHelper.ts
  src/lib/map/MapManager.ts
  src/lib/map/b01/MapBuilder.ts
  src/lib/map/b01/MapDecryptor.ts
  src/lib/map/b01/MapParser.ts
  src/lib/map/b01/roborock_proto.ts
  src/lib/map/v1/CanvasMapRenderer.ts
  src/lib/map/v1/MapBuilder.ts
  src/lib/map/v1/MapParser.ts
  src/lib/messageParser.ts
  src/lib/mqttApi.ts
  src/lib/requestsHandler.ts
  src/lib/socketHandler.ts
  src/main.ts
  src/www/SVGMapRenderer.ts
  src/www/map.ts
  test/unit/b01_research_maps_regression.fixtures.ts
  test/unit/b01_research_maps_regression.test.ts
  www/app.js
  www/app.js.map
Due: eslint --fix, node scripts/check-lockfile.js, node scripts/run-package-tests.js

Added state management for cleaningInfo JSON in B01MapService, enhancing data handling for vacuum operations.
  src/lib/commitInfo.ts
  src/lib/features/vacuum/services/B01MapService.ts
Due: eslint --fix

Refine TCP keepalive interval type for better compatibility. Updated the type from `NodeJS.Timeout` to `ioBroker.Interval` and adjusted related logic for clarity.
  src/lib/commitInfo.ts
  src/lib/localApi.ts
Due: eslint --fix

Refactor device info update logic to handle date formatting and JSON stringification. Improved clarity and maintainability by using a static array for date keys.
  src/lib/commitInfo.ts
  src/main.ts
Due: eslint --fix

Enhanced UDP discovery logging to improve debugging and device tracking, including detailed messages for decryption failures and device rediscovery.
  src/lib/commitInfo.ts
  src/lib/localApi.ts
Due: eslint --fix

Fixes the issue where `roborock.0.Devices.xxx.cleaningInfo.records` was not updated after a cleaning run. (#1129)
  src/lib/commitInfo.ts
  src/lib/deviceManager.ts
  src/lib/features/vacuum/b01VacuumFeatures.ts
  src/lib/features/vacuum/v1VacuumFeatures.ts
  src/lib/localApi.ts
  src/lib/requestsHandler.ts
  src/main.ts
Due: eslint --fix
